@charset "utf-8";

/* spoqa font */
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 700;
	src: local('Spoqa Han Sans Neo Bold'),
	url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 500;
	src: local('Spoqa Han Sans Neo Medium'),
	url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 400;
	src: local('Spoqa Han Sans Neo Regular'),
	url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 300;
	src: local('Spoqa Han Sans Neo Light'),
	url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 100;
	src: local('Spoqa Han Sans Neo Thin'),
	url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

/* noto sans font */
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:url('/fonts/NotoSansKR-Light.eot');
	src:url('/fonts/NotoSansKR-Light.woff') format('woff'),
	url('/fonts/NotoSansKR-Light.otf') format('otf'),
	url('/fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url('/fonts/NotoSansKR-Regular.eot');
	src:url('/fonts/NotoSansKR-Regular.woff') format('woff'),
	url('/fonts/NotoSansKR-Regular.otf') format('otf'),
	url('/fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url('/fonts/NotoSansKR-Medium.eot');
	src:url('/fonts/NotoSansKR-Medium.woff') format('woff'),
	url('/fonts/NotoSansKR-Medium.otf') format('otf'),
	url('/fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url('/fonts/NotoSansKR-Bold.eot');
	src:url('/fonts/NotoSansKR-Bold.woff') format('woff'),
	url('/fonts/NotoSansKR-Bold.otf') format('otf'),
	url('/fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype');
}

/* RESET */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,del,em,font,img,ins,strong,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,menu,section,article{margin:0;padding:0}
body{min-width:280px;width:100%;height:100%;-webkit-text-size-adjust:none;font-size:14px;color:#666;line-height:1.45;font-weight:400;font-family:'Noto Sans KR',Apple Gothic,Droid Sans,sans-serif}
html.lock {position: fixed; top: 0; left: 0; overflow: hidden; height: 100%}
body.lock {position: fixed; top: 0; left: 0; height: 100%}
form legend,table caption{width:0;height:0;font-size:0;text-indent:-9999px;line-height:0}
img,fieldset,iframe{border:0 none}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ul,li,ol{list-style-type:none}
li,p,dt,dd,div,span{white-space:normal}
button{overflow:visible;padding:0;margin:0;border:0 none;background:transparent;cursor:pointer;font-family: noto sans kr,Apple Gothic,Droid Sans,sans-serif;}
button::-moz-focus-inner{border:0;padding:0}
a{text-decoration:none;color:#666}

label{cursor:pointer}
img{max-width:100%}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=search],
input[type=email]{display:inline-block;margin:0;padding:6px 10px;box-sizing:border-box;vertical-align:top;font-size:15px;color:#666;line-height:21px;font-family:Apple Gothic,Droid Sans,'Malgun Gothic',Dotum,sans-serif;-webkit-appearance:none;outline:none;border-radius:0;border:1px solid #ccc;background:white}
::-webkit-input-placeholder{color:#ccc}
textarea{display:block;width:100%;margin:0;padding:6px 10px;box-sizing:border-box;vertical-align:top;font-size:15px;color:#666;line-height:21px;font-family:Apple Gothic,Droid Sans,'Malgun Gothic',Dotum,sans-serif;-webkit-appearance:none;outline:none;resize:none;border-radius:0;border:1px solid #ccc;background:white}
::-webkit-textarea-placeholder{color:#ccc}

select{display:inline-block;margin:0;padding:6px 33px 6px 10px;box-sizing:border-box;vertical-align:top;white-space:nowrap;font-size:15px;color:#666;line-height:21px;font-family:Apple Gothic,Droid Sans,'Malgun Gothic',Dotum,sans-serif;-webkit-appearance:none;outline:none;border-radius:0;border:1px solid #ccc;background:white url(../imgs/icon/select.png) right center no-repeat;background-size:33px 33px}

input[type=radio]{display:inline-block;width:16px;height:16px;margin:0;padding:0;vertical-align:top}
input[type=checkbox]{display:inline-block;width:16px;height:16px;margin:0;padding:0;vertical-align:top;border-radius:0}
input[type=radio]+label,
input[type=checkbox]+label{display:inline-block;height:16px;margin:0 0 0 5px;vertical-align:top;font-size:15px;color:#666;line-height:17px}

.black{color:#000 !important}
.red{color:#d32020 !important}
.blue{color:#3191b7 !important}
.yellow{color:#ff0 !important}
.txt_left{text-align:left !important}
.txt_right{text-align:right !important}
.txt_center{text-align:center !important}
.pdv40{padding:40px 0 !important}
.mgt5{margin-top:5px !important}
.mgt10{margin-top:10px !important}
.mgt20{margin-top:20px !important}
.mgt30{margin-top:30px !important}
.mgt40{margin-top:40px !important}
.mgb5{margin-bottom:5px !important}
.mgb10{margin-bottom:10px !important}
.mgb20{margin-bottom:20px !important}
.mgb40{margin-bottom:40px !important}
.mgl10{margin-left:10px !important}
.mar_none{margin:0 !important}
.s_gray{font-size:0.9em;color:#999}
.fs12{font-size:1.2em}
.tbFixed{table-layout:fixed}
.log{position:fixed;top:0;left:0;z-index:999999;font-size:14px;color:red;font-weight:bold}
.blind{visibility:hidden !important;position:absolute !important;top:-9999px !important;overflow:hidden !important;z-index:-9999 !important;width:0 !important;height:0 !important;padding:0 !important;font-size:0 !important;line-height:0 !important}
.floatR {float: right;}

.clr:after {content: ""; display: block; clear: both;}

#wrap{position: relative;}
#wrap:after{content:"";display:block;clear:both}

/* top banner */
.top-banner{position:relative;z-index:199;overflow:hidden}
.top-banner img{display:block;width:100%}
.top-banner .topbn-close-button{position:absolute;top:50%;right:15px;overflow:hidden;width:25px;height:25px;margin:-12px 0 0;text-indent:-9999px;background:url(../imgs/global/close2.png) center center no-repeat;background-size:15px 15px}

/* header */
#header{position:absolute;top:0;left:0;z-index:103;min-width:280px;width:100%;height:81px;box-sizing:border-box;-moz-transition:-moz-transform .2s;-webkit-transition:-webkit-transform .2s;transition:transform .2s;-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#header:before{content:"";position:absolute;top:-100px;left:0;width:100%;height:100px;background:#fff}
#header h1{height:20px;padding:10px 0;text-align:center;background:#fff}
#header h1 a,#header h1 img{display:inline-block;height:20px;vertical-align:top}
#header h2{position:relative;text-overflow:ellipsis;overflow:hidden;height:20px;padding:9px 45px 10px;white-space:nowrap;text-align:center;font-size:14px;color:black;line-height:20px;font-weight:500;border-top:1px solid rgba(238,238,238,0.8);border-bottom:1px solid rgba(238,238,238,0.8);background:rgba(255,255,255,0.8)}
#header h2 .t-back{position:absolute;top:5px;left:15px;z-index:2;overflow:hidden;width:30px;height:29px;text-indent:-9999px;background:url(../imgs/global/top-back.png) center center no-repeat;background-size:8px 15px}
#header .t-search{position:absolute;top:5px;left:15px;overflow:hidden;width:30px;height:30px;text-indent:-9999px;background:url(../imgs/global/top-search.png) center center no-repeat;background-size:20px 18px}
#header .t-cart{position:absolute;top:5px;right:15px;overflow:hidden;width:30px;height:30px;text-indent:-9999px;background:url(../imgs/global/top-cart.png) center center no-repeat;background-size:22px 20px}
#header .t-cart span{position:absolute;top:7px;right:5px;width:11px;height:11px;text-align:center;text-indent:0;font-size:8px;color:#fff;line-height:11px;font-weight:300;font-family:spoqa han sans neo,Apple Gothic,Droid Sans,sans-serif;border-radius:100%;background:#601986}
#header .horizonwrap{background:rgba(255,255,255,.8);position:relative;overflow:hidden}
#header .horizonwrap .swipe{text-align:center}
#header .horizonwrap .swipe{overflow:auto;-webkit-overflow-scrolling:touch;margin:0 0 -100px;padding:0 0 100px}
#header .horizonwrap .swipe .list{display:inline-block;vertical-align:top;white-space:nowrap;font-size:0;margin:0;border-top:0}
#header .horizonwrap .swipe .list .item:after{content:"";display:block;clear:both}
#header .horizonwrap .swipe .list .item:first-child{border-left:8px solid transparent}
#header .horizonwrap .swipe .list .item{display:inline-block;vertical-align:top;position:unset;padding:0;border-bottom:0}
#header .horizonwrap .swipe .list .item:last-child{border-right:8px solid transparent}
#header .horizonwrap .swipe .list .item a,#header .horizonwrap .swipe .list .item button{float:left;padding:10px 12px 11px;white-space:nowrap;font-size:14px;color:#000;line-height:20px}
#header.active{position:fixed}
#header.min{-moz-transform:translate3d(0,-40px,0);-webkit-transform:translate3d(0,-40px,0);transform:translate3d(0,-40px,0)}
#panel{position:fixed;bottom:0;left:0;z-index:101;min-width:280px;width:100%;height:50px;box-sizing:border-box;-moz-transition:-moz-transform .2s;-webkit-transition:-webkit-transform .2s;transition:transform .2s;-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);background:#fff}
#panel:before{content:"";position:absolute;top:-1px;left:0;z-index:5;width:100%;height:51px;background:url(../imgs/global/panel.png) 0 -15px repeat-x;background-size:60px 66px}
#panel:after{content:"";position:absolute;top:-10px;left:50%;z-index:6;width:60px;height:10px;margin:0 0 0 -30px;background:url(../imgs/global/panel.png) center 0 no-repeat;background-size:60px 66px}
#panel .gnb{height:50px}
#panel .gnb:after{content:"";position:absolute;top:0;left:0;z-index:5;width:100%;height:9999px;background:#fff}
#panel .gnb>li>a,#panel .gnb>li>button{display:block;position:absolute;z-index:7;overflow:hidden;width:100%;padding:32px 0 4px;box-sizing:border-box;white-space:nowrap;text-align:center;font-size:10px;color:#666;line-height:14px;background-size:20px 19px;background-position:center 8px;background-repeat:no-repeat}
#panel .gnb>li .home{left:10.6%;width:40px;margin:0 0 0 -20px;background-image:url(../imgs/global/panel-home.png)}
#panel .gnb>li .today{left:29.7%;width:50px;margin:0 0 0 -25px;background-image:url(../imgs/global/panel-today.png)}
#panel .gnb>li .brand{top:-3px;left:50%;width:48px;height:48px;margin:0 0 0 -24px;padding:0;text-indent:-9999px;border-radius:100%}
#panel .gnb>li .brand:before{content:"브랜드";position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;padding:28px 0 6px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;box-sizing:border-box;text-indent:0;text-align:center;font-size:9px;color:#fff;line-height:14px;border-radius:100%;background:#000 url(../imgs/global/panel-brand.png) center 8px no-repeat;background-size:20px 20px}
#panel .gnb>li .brand:after{content:"브랜드 닫기";position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;opacity:0;-moz-transform:scale(.4);-webkit-transform:scale(.4);transform:scale(.4);-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;box-sizing:border-box;border-radius:100%;background:#333 url(../imgs/global/panel-brand-close.png) center center no-repeat;background-size:20px 20px}
#panel .gnb>li .my{right:29.7%;width:50px;margin:0 -25px 0 0;background-image:url(../imgs/global/panel-my.png)}
#panel .gnb>li .menu{right:10.6%;width:40px;margin:0 -20px 0 0;background-image:url(../imgs/global/panel-menu.png)}
#panel .gnb>li .brand-list{position:absolute;top:0;left:0;z-index:4;width:100%;padding:14px 1px 14px 15px;box-sizing:border-box;-moz-transition:.4s;-webkit-transition:.4s;transition:.4s;border-radius:20px 20px 0 0;background:#fff}
#panel .gnb>li .brand-list ul:after{content:"";display:block;clear:both}
#panel .gnb>li .brand-list ul li{float:left;width:16%;padding:5px 3px;box-sizing:border-box}
#panel .gnb>li .brand-list ul li:nth-child(6n+1){clear:both}
#panel .gnb>li .brand-list ul li a,#panel .gnb>li .brand-list ul li img{display:block}
#panel .gnb>li.active .brand:before{z-index:1;opacity:0;-moz-transform:scale(.4);-webkit-transform:scale(.4);transform:scale(.4)}
#panel .gnb>li.active .brand:after{z-index:2;opacity:1;-moz-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}
#panel .gnb>li.active .brand-list{box-shadow:0 0 4px rgb(0,0,0,.1);-moz-transform:translate3d(0,-100%,0);-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
#panel .etc{position:absolute;bottom:58px;right:20px;z-index:1;-moz-transition:-moz-transform .2s;-webkit-transition:-webkit-transform .2s;transition:transform .2s}
#panel .etc li{padding:0 0 6px}
#panel .etc li a,#panel .etc li button{display:block;position:relative;overflow:hidden;width:41px;height:41px;text-indent:-9999px;border-radius:100%}
#panel .etc li a:before,#panel .etc li button:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;border-radius:100%}
#panel .etc li a:after,#panel .etc li button:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;border-radius:100%;background-size:21px 19px;background-position:center center;background-repeat:no-repeat}
#panel .etc li .atv:before{background:#601986}
#panel .etc li .atv:after{background-image:url(../imgs/global/panel-atv.png)}
#panel .etc li .hg_evt{border-radius:0}
#panel .etc li .hg_evt:before{background:#fff}
#panel .etc li .hg_evt:after{background-image:url(../imgs/global/panel-hornga.jpg);background-size:41px;border-radius:0}
#panel .etc li .ml_evt{border-radius:0}
#panel .etc li .ml_evt:before{background:#fff}
#panel .etc li .ml_evt:after{background-image:url(../imgs/global/wing_ml.jpg);background-size:41px;border-radius:0}
#panel .etc li .family_evt{border-radius:0}
#panel .etc li .family_evt:before{background:#fff}
#panel .etc li .family_evt:after{background-image:url(../imgs/global/panel-familylogo.jpg);background-size:41px;border-radius:0}
#panel .etc li .jc{border-radius:0}
#panel .etc li .jc:before{background:#fff}
#panel .etc li .jc:after{background-image:url(../imgs/global/m_panel_jc_2306.jpg);background-size:41px;border-radius:0}
#panel .etc li .vr:before{background:#fff}
#panel .etc li .vr:after{background-image:url(../imgs/global/panel-vrlogo2.png);background-size:41px}
#panel .etc li .top:before{opacity:.8;border:1px solid #f2f2f2;background:#fff}
#panel .etc li .top:after{background-image:url(../imgs/global/panel-top.png)}
#panel .etc li .messenger:before{opacity:.8;border:1px solid #f2f2f2;background:#fff}
#panel .etc li .messenger:after{background-image:url(../imgs/global/panel-messenger.png)}
#panel.min{-moz-transform:translate3d(0,60px,0);-webkit-transform:translate3d(0,60px,0);transform:translate3d(0,60px,0)}

#menu{position:fixed;top:0;left:0;z-index:500;width:calc(100% - 35px);height:200%;margin:0 0 0 35px;-moz-transition:-moz-transform 0.6s;-webkit-transition:-webkit-transform 0.6s;transition:transform 0.6s;-moz-transform:translate3d(100%,0,0);-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);box-sizing:border-box;background:white}
#menu.active{box-shadow:0 0 4px rgb(0,0,0,0.1)}
#menu .close{position:absolute;top:15px;right:15px;z-index:2;overflow:hidden;width:25px;height:25px;-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);text-indent:-9999px;background:url(../imgs/global/close2.png) center center no-repeat;background-size:15px 15px}
#menu .scroll{position:absolute;top:0;left:0;z-index:1;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;width:100%;height:50%;box-sizing:border-box;-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);background:white}
#menu .scroll *{-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#menu .scroll .content{position:absolute;top:0;left:0;width:100%;min-height:100%;padding:0 0 64px;box-sizing:border-box}
#menu .scroll .user{padding:20px;border-bottom:1px solid #eee;background:#f7f7f7}
#menu .scroll .user:after{content:"";display:block;clear:both}
#menu .scroll .user li{float:left;margin:0 0 0 10px;padding:0 0 0 10px;border-left:1px solid #999}
#menu .scroll .user li:first-child{margin:0;padding:0;border-left:none}
#menu .scroll .user li a{float:left;margin:-4px 0 -3px;font-size:16px;color:black;line-height:22px;font-weight:300}
#menu .scroll .user li a.logout{color:#999}
#menu .scroll .user li a.my{color:black}
#menu .scroll .brandname{clear:both;padding:8px 0 9px;text-align:center;font-size:14px;color:black;line-height:22px;font-weight:500;border-bottom:1px solid #eee}
#menu .scroll .brandname a{color:black}

#menu .scroll .bnb{clear:both;padding:10px 15px}
#menu .scroll .bnb:after{content:"";display:block;clear:both}
#menu .scroll .bnb dt{float:left;position:relative;margin:-4px 0;padding:10px 5px 0;text-align:left;font-size:15px;color:black;line-height:22px;font-weight:500}
#menu .scroll .bnb dd{clear:both}
#menu .scroll .bnb dd ul:after{content:"";display:block;clear:both}
#menu .scroll .bnb dd ul li{float:left;width:50%;padding:10px 5px 0;box-sizing:border-box}
#menu .scroll .bnb dd ul li a{display:block;padding:7px 0 8px;border:1px solid #ddd}
#menu .scroll .bnb dd ul li a strong{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-align:center;font-size:13px;color:black;line-height:17px}
#menu .scroll .bnb dd ul li a span{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-align:center;font-size:12px;color:#666;line-height:16px}

#menu .scroll .pnb{clear:both;padding:10px 15px 0}
#menu .scroll .pnb:after{content:"";display:block;clear:both}
#menu .scroll .pnb li{float:left;width:50%;padding:10px 5px 0;box-sizing:border-box}
#menu .scroll .pnb li a{display:block;padding:7px 0;text-align:center;font-size:13px;color:black;line-height:19px;font-weight:500;border:1px solid #ddd}
#menu .scroll .gnb{position:relative;clear:both;margin:0 20px;padding:4px 0 16px;border-bottom:1px solid #f7f7f7}
#menu .scroll .gnb li:after{content:"";display:block;clear:both}
#menu .scroll .gnb>li.item{position:relative;margin:0 -20px}
#menu .scroll .gnb>li.item>a,
#menu .scroll .gnb>li.item>button{position:relative;float:left;width:100%;padding:11px 44px 11px 20px;box-sizing:border-box;text-align:left;font-size:15px;color:black;line-height:22px;font-weight:500}
#menu .scroll .gnb>li.item>button:after{content:"";position:absolute;top:19px;right:30px;width:14px;height:8px;background:url(../imgs/global/arrow2.png) center center no-repeat;background-size:14px 8px}
#menu .scroll .gnb>li.item>ul{display:none;position:relative;float:left;clear:both;width:100%;margin:-4px 0 4px;padding:0 20px;box-sizing:border-box}
#menu .scroll .gnb>li.item>ul>.item>a,
#menu .scroll .gnb>li.item>ul>.item>button{position:relative;float:left;width:100%;padding:4px 10px 5px;box-sizing:border-box;text-align:left;font-size:15px;color:#666;line-height:22px;font-weight:400}
#menu .scroll .gnb>li.item>ul>.item>button:before{content:"";position:absolute;top:15px;right:10px;width:11px;height:1px;background:#666}
#menu .scroll .gnb>li.item>ul>.item>button:after{content:"";position:absolute;top:10px;right:15px;width:1px;height:11px;background:#666}
#menu .scroll .gnb>li.item>ul>.item>ul{display:none;float:left;clear:both;width:calc(100% - 20px);margin:10px 0 10px 10px;padding:10px 0;background:#f7f7f7}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>a{float:left;width:100%;padding:4px 20px 5px;box-sizing:border-box;text-align:left;font-size:15px;color:#666;line-height:22px;font-weight:400}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>button{position:relative;float:left;width:100%;padding:4px 20px 5px;box-sizing:border-box;text-align:left;font-size:15px;color:#666;line-height:22px;font-weight:400}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>button:before{content:"";position:absolute;top:15px;right:10px;width:11px;height:1px;background:#666}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>button:after{content:"";position:absolute;top:10px;right:15px;width:1px;height:11px;background:#666}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>ul{display:none;float:left;clear:both;width:calc(100% - 20px);margin:0 0 0 10px;padding:0 0 10px}
#menu .scroll .gnb>li.item>ul>.item>ul>.item>ul>.item>a{float:left;width:100%;padding:4px 20px 5px;box-sizing:border-box;text-align:left;font-size:14px;color:#999;line-height:20px;font-weight:300}
#menu .scroll .gnb>li.item.active>button:after{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
#menu .scroll .gnb>li.item.active>ul{display:block}
#menu .scroll .gnb>li.item>ul>.item.active>button:after{display:none}
#menu .scroll .gnb>li.item>ul>.item.active>ul{display:block}
#menu .scroll .gnb>li.item>ul>.item>ul>.item.active>button:after{display:none}
#menu .scroll .gnb>li.item>ul>.item>ul>.item.active>ul{display:block}
#menu .scroll .snb{position:relative;clear:both;margin:0 -1% 0 0;padding:0 20px 21px}
#menu .scroll .snb:before{content:"";position:absolute;bottom:0;left:20px;width:calc(99% - 40px);height:1px;background:#f7f7f7}
#menu .scroll .snb:after{content:"";display:block;clear:both}
#menu .scroll .snb li{float:left;width:33%;padding:20px 0 0}
#menu .scroll .snb li a{display:flex;flex-direction:row;align-items:center;float:left;max-width:100%;font-size:12px;color:black;line-height:18px;font-weight:300}
#menu .scroll .snb li a:before{content:"";display:inline-block;width:45px;height:45px;margin:0 4px 0 0;vertical-align:top;border-radius:100%;background-color:#e7dded;background-position:center center;background-repeat:no-repeat;background-size:45px 45px}
#menu .scroll .snb li a.s-event:before{background-image:url(../imgs/global/snb-event.png)}
#menu .scroll .snb li a.s-plan:before{background-image:url(../imgs/global/snb-plan.png)}
#menu .scroll .snb li a.s-magazine:before{background-image:url(../imgs/global/snb-magazine.png)}
#menu .scroll .snb li a.s-notice:before{background-image:url(../imgs/global/snb-notice.png)}
#menu .scroll .snb li a.s-inquiry:before{background-image:url(../imgs/global/snb-inquiry.png)}
#menu .scroll .snb li a.s-faq:before{background-image:url(../imgs/global/snb-faq.png)}
#menu .scroll .enb{position:absolute;bottom:20px;left:0;clear:both;width:100%;padding:0 20px;box-sizing:border-box}
#menu .scroll .enb:after{content:"";display:block;clear:both}
#menu .scroll .enb li{float:left;margin:0 0 0 15px;padding:0 0 0 15px;border-left:1px solid #999}
#menu .scroll .enb li:first-child{margin:0;padding:0;border-left:none}
#menu .scroll .enb li a{float:left;margin:-4px 0 -3px;white-space:nowrap;font-size:15px;color:black;line-height:21px;font-weight:500}
#menu .scroll .enb li a.atv{color:#601986}
@media screen and (max-width:374px){
	#menu .scroll .snb{padding:0 5px 21px}
	#menu .scroll .snb li{text-align:center}
	#menu .scroll .snb li a{display:inline-block;float:none;vertical-align:top;text-align:center}
	#menu .scroll .snb li a:before{display:block;margin:0 auto}
}

/* contents */
#container{position:relative;padding:0 0 60px;border-top:81px solid transparent}
#container:after{content:"";display:block;clear:both}

/* horizon */
.horizonwrap{position:relative;overflow:hidden}
.horizonwrap .swipe{overflow:auto;-webkit-overflow-scrolling:touch;margin:0 0 -100px;padding:0 0 100px}
.horizonwrap .swipe .list{display:inline-block;vertical-align:top;white-space:nowrap;font-size:0;border-top:0;margin:0}
.horizonwrap .swipe .list .item{display:inline-block;vertical-align:top;padding:0}
.horizonwrap .swipe .list .item.horizonsample{width:150px;border-right:10px solid transparent}
.horizonwrap .swipe .list .item.horizonsample:first-child{border-left:20px solid transparent}
.horizonwrap .swipe .list .item.horizonsample:last-child{border-right:20px solid transparent}
.horizonwrap .swipe .list .item.horizonsample div{height:200px;text-align:center;font-size:20px;color:white;line-height:200px;font-weight:700;background:red}
.horizonwrap .bar{position:relative;overflow:hidden;width:100%;height:2px;margin:24px 0 0;box-sizing:border-box;border-left:20px solid transparent;border-right:20px solid transparent}
.horizonwrap .bar:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:#ededed}
.horizonwrap .bar .track{position:absolute;top:0;left:0;height:100%;background:#601986}
.product-item{clear:both;padding:0 15px}
.product-item .list{border-top:0;}
.product-item .list:after{content:"";display:block;clear:both}
.product-item .list .item{position:relative;float:left;width:50%;margin:0 0 30px;box-sizing:border-box;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:0;padding:0}
.product-item .list .item:nth-child(odd){clear:both}
.product-item .list .item a{display:block}
.product-item .list .item a .img{display:block;position:relative;z-index:1;width:100%;margin:0 0 13px;background-color:white;background-size:cover;background-position:center center;background-repeat:no-repeat}
.product-item .list .item a .img img{display:block;width:100%}
.product-item .list .item a .text{display:block;min-height:57px;font-size:inherit;padding:0;color:inherit;line-height:inherit;word-wrap:inherit;margin:0;overflow:inherit}
.product-item .list .item a .text:after{content:"";display:block;clear:both}
.product-item .list .item a .text span{float:left}
.product-item .list .item a .text .brand{clear:both;text-overflow:ellipsis;overflow:hidden;width:100%;margin:-5px 0 -4px;padding:0 0 8px;white-space:nowrap;font-size:13px;color:black;line-height:19px;font-weight:700}
.product-item .list .item a .text .name{clear:both;text-overflow:ellipsis;overflow:hidden;width:100%;margin:-4px 0 -2px;padding:0 0 15px;white-space:nowrap;font-size:13px;color:#666;line-height:19px;font-weight:400}
.product-item .list .item a .text .price{clear:both;text-overflow:ellipsis;overflow:hidden;width:100%;height:19px;margin:-3px 0 -5px;white-space:nowrap;font-size:14px;color:#010101;line-height:19px;font-family:'Spoqa Han Sans Neo',Apple Gothic,Droid Sans,sans-serif}
.product-item .list .item a .text .price del{margin:0 0 0 5px;vertical-align:top;font-size:11px;color:#666;line-height:20px;font-weight:300}
.product-item .list .item a .text .price strong{margin:0 0 0 14px;vertical-align:top;font-size:12px;color:red;line-height:19px;font-weight:400}

/* today */
#todaylist{position:fixed;top:0;left:0;z-index:500;width:100%;height:200%;-moz-transform:translate3d(0,-9999px,0);-webkit-transform:translate3d(0,-9999px,0);transform:translate3d(0,-9999px,0);box-sizing:border-box;background:white}
#todaylist.active{-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#todaylist .close{position:absolute;top:20px;right:15px;overflow:hidden;width:25px;height:25px;text-indent:-9999px;background:url(../imgs/global/close2.png) center center no-repeat;background-size:15px 15px}
#todaylist .scroll{position:absolute;top:0;left:0;z-index:1;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;width:100%;height:50%;box-sizing:border-box;-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);background:white}
#todaylist .scroll .content{position:absolute;top:0;left:0;width:100%;min-height:100%;padding:25px 0 0;box-sizing:border-box}
#todaylist .scroll .content h1{height:15px;margin:0 20px 15px;text-align:left;font-size:16px;color:black;line-height:14px;font-weight:400}
#todaylist .scroll .product-item .list .today-none{padding:66px 0 67px;text-align:center;font-size:13px;color:#666;line-height:19px;border-bottom:0}
#todaylist .scroll .product-item .list .today-none:before{content:"";display:block;width:44px;height:54px;margin:4px auto 0;background:url(../imgs/global/list-none1.png) 0 0 no-repeat;background-size:44px 44px}
#todaylist .scroll .product-item.suggest{position:absolute;bottom:0;left:0;width:calc(100% + 5px);padding:0 20px;box-sizing:border-box}
#todaylist .scroll .product-item.suggest h1{margin:0 0 25px}
#todaylist .scroll .product-item.suggest .list{margin:0 -1% 0 0}
#todaylist .scroll .product-item.suggest .list .item{clear:none;width:33%;border-left:none}
#todaylist .scroll .frame{margin:0 -1% 0 0;padding:0 15px 0 20px}
#todaylist .scroll .frame img{display:block;width:33%;padding:65px 0 100px 5px;box-sizing:border-box}

/* footer */
#footer{position:relative;clear:both;overflow:hidden;padding:21px 20px 65px;background:#ececec}
#footer:after{content:"";display:block;clear:both}
#footer .cs{position:relative;clear:both;margin:0 0 21px;padding:0 0 21px}
#footer .cs:before{content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;background:url(../imgs/global/global-line-b.gif) 0 0 repeat-x;background-size:1px 5px}
#footer .cs:after{content:"";display:block;clear:both}
#footer .cs dt{float:left;width:75px;margin:-4px 0 -2px;font-size:11px;color:#111;line-height:17px}
#footer .cs dd{float:left;margin:-4px 0 -2px;font-size:12px;color:#5f5f5f;line-height:18px}
#footer .cs dd strong{display:block;padding:0 0 1px;font-size:14px;color:#000;line-height:20px;font-weight:400;font-family:spoqa han sans neo,Apple Gothic,Droid Sans,sans-serif}
#footer .cs dd span{display:inline-block;margin:1px 0 -1px;vertical-align:top;font-family:spoqa han sans neo,Apple Gothic,Droid Sans,sans-serif}
#footer .navigation{clear:both;margin:0 -20px 0 0;padding:0 0 6px}
#footer .navigation ul{margin:0 -30px 0 0}
#footer .navigation ul:after{content:"";display:block;clear:both}
#footer .navigation ul li{float:left;margin:0 30px 15px 0}
#footer .navigation ul li a{float:left;margin:-5px 0 -3px;white-space:nowrap;font-size:11px;color:#111;line-height:19px}
#footer .body{clear:both;padding:0 0 12px}
#footer .body .logo{display:inline-block;height:22px;margin:0 12px 0 0;vertical-align:top}
#footer .body .sh-button{display:inline-block;margin:0 0 -3px;vertical-align:bottom;font-size:11px;color:#333;line-height:17px;font-weight:500}
#footer .body .sh-button:after{content:"";display:inline-block;width:8px;height:5px;margin:6px 0 0 7px;vertical-align:top;background:url(../imgs/global/arrow1.png) center center no-repeat;background-size:8px 5px}
#footer .body p{display:none;padding:11px 41px 8px 0;word-wrap:break-word;font-size:11px;color:#666;line-height:17px}
#footer .body p a{color:#666}
#footer .body>:last-child{margin-bottom:-2px px;padding-bottom:0}
#footer .copy{float:left;clear:both;width:100%;margin:-4px 0 18px;font-size:10px;color:#999;line-height:16px}
#footer .body.active .sh-button:after{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
#footer .body.active p,#footer .body.active address{display:block}
@media screen and (max-width: 340px) {
	#footer .navigation ul li{margin-right:20px}
}
@media screen and (max-width: 300px) {
	#footer{padding:21px 15px 60px}
	#footer .cs dt{width:60px}
	#footer .navigation ul li{margin-right:15px}
}
#globaldim{position:fixed;top:-9999px;left:0;z-index:200;width:100%;height:200%;opacity:0;background:rgba(0,0,0,.5)}

/* title */
.basictitle{clear:both;padding: 20px 0 0;font-size:17px;color:black;line-height:21px}
.basiclinetitle{position:relative;clear:both;padding: 20px 0 16px;font-size:17px;color:black;line-height:21px;}
.basiclinetitle .more{position:absolute;top:23px;right:16px;font-size:13px;color:#999;line-height:17px}
.subtit{font-size: 17px; color: #000; text-align: center; margin-bottom: 20px;}

/* info */
.basicinfo{clear:both;padding: 12px 0 0;}
.basicinfo li{position:relative;padding:4px 0 0 10px;word-wrap:break-word;font-size:13px;color:#999;line-height:18px}
.basicinfo li:before{content:"-";position:absolute;top:4px;left:0}
p.basicinfo{padding:0;word-wrap:break-word;text-align:center;font-size:13px;color:#999;line-height:18px}
p.basicinfo strong{color:black}

/* function button */
.basicbutton{display:inline-block;margin:0;padding:6px 10px;box-sizing:border-box;vertical-align:top;white-space:nowrap;text-align:center;font-size:15px;color:#666;line-height:21px;font-family:Apple Gothic,Droid Sans,'Malgun Gothic',Dotum,sans-serif;outline:none;border-radius:0;border:1px solid #ccc;background:white}
.basicbutton.large{padding-top:14px !important;padding-bottom:14px !important;font-weight:bold}
.basicbutton.drain{border:1px solid #e6e6e6;background:#f7f7f7}
.basicbutton.fill{color:white;border:1px solid #444;background:#444}

/* confirm button */
.buttonwrap{clear:both;padding: 30px 0 0;text-align:center}
.buttonwrap:after{content:"";display:block;clear:both}
.buttonwrap .basicbutton{width:50%;padding:10px 0}
.buttonwrap li{float:left;width: calc(50% - 5px);box-sizing:border-box}
.buttonwrap li:nth-child(odd){}
.buttonwrap li:nth-child(even){float:right;}
.buttonwrap li .basicbutton{width:100%;padding-left:0;padding-right:0}
.buttonwrapline{position:relative;clear:both;margin:0 16px;padding:51px 5px 0;text-align:center}
.buttonwrapline:before{content:"";position:absolute;top:20px;left:-16px;width:100%;height:1px;padding:0 16px;background:#e6e6e6}
.buttonwrapline:after{content:"";display:block;clear:both}
.buttonwrapline .basicbutton{width:50%;padding:10px 0}
.buttonwrapline li{float:left;width:50%;box-sizing:border-box}
.buttonwrapline li:nth-child(odd){margin:0 0 0 -5px}
.buttonwrapline li:nth-child(even){float:right;margin:0 -5px 0 0}
.buttonwrapline li .basicbutton{width:100%;padding-left:0;padding-right:0}
.buttonwrapleft{float:right;padding:10px 0 0 16px}
.buttonwrapleft li{float:left;margin:0 8px 0 0}
.buttonwrapleft li .basicbutton{padding:4px 10px;font-size:13px;color:#666;line-height:18px}
.buttonwrapleft li .fill{color:white}
.buttonwrapright{float:right;padding: 10px 0 0 0;}
.buttonwrapright li{float:left;margin:0 0 0 8px}
.buttonwrapright li .basicbutton{padding:4px 10px;font-size:13px;color:#666;line-height:18px}
.buttonwrapright li .fill{color:white}
.buttonwraptriple{padding: 30px 0 0; display: flex; justify-content: space-between;}
.buttonwraptriple li{width:32%}
.buttonwraptriple li .basicbutton{width:100%;padding-left:0;padding-right:0}

/* paging */
.paging{clear:both;padding:20px 0 0;text-align:center}
.paging ul{display:inline-block;vertical-align:top}
.paging ul:after{content:"";display:block;clear:both}
.paging ul li{float:left;margin:0 -1px 0 0}
.paging ul li a{float:left;width:33px;padding:6px 0;text-align:center;font-size:15px;color:#666;line-height:21px;border:1px solid #ccc;background:white}
.paging ul li a strong{position:relative;z-index:2;float:left;width:33px;margin:-7px -1px;padding:6px 0;text-align:center;font-size:15px;color:black;line-height:21px;font-weight:normal;border:1px solid black;background:white}
.paging ul li.prev a{position:relative;z-index:1;overflow:hidden;text-indent:-9999px}
.paging ul li.prev a:before{content:"";position:absolute;top:9px;left:5px;width:0;height:0;border:7px solid transparent;border-right:7px solid #999}
.paging ul li.next a{position:relative;z-index:1;overflow:hidden;text-indent:-9999px}
.paging ul li.next a:before{content:"";position:absolute;top:9px;right:5px;width:0;height:0;border:7px solid transparent;border-left:7px solid #999}

/* editor */
.editorcontent{clear:both;margin:20px 16px 0;font-size:15px;color:#666;line-height:1.4}
.basictitle+.editorcontent{margin: 10px 0 0;}
.editorcontent img{display:block;max-width:100%}
.editorcontent p,
.editorcontent span,
.editorcontent table,
.editorcontent div{max-width:100%}

/* insert form */
dl.form{clear:both;padding: 12px 0 0;}
.basictitle+dl.form{padding-top:5px}
dl.form dt{margin:0 0 -3px;padding:3px 0 0}
dl.form dt span{vertical-align:top}
dl.form dd{position:relative;border-top:8px solid transparent}
dl.form dd:after{content:"";display:block;clear:both}
dl.form dd input[type=text],
dl.form dd input[type=password],
dl.form dd input[type=number],
dl.form dd input[type=tel],
dl.form dd input[type=search],
dl.form dd input[type=email],
dl.form dd select{float:left;width:100%}
dl.form dd.guide{font-size:12px;line-height:16px}
dl.form dd.button{padding:0 105px 0 0}
dl.form dd.button .basicbutton{position:absolute;top:0;right:0;width:100px;padding:6px 0}
dl.form dd.button input[type=file]{position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;margin:0;padding:0;opacity:0;border-radius:0;border:none;background:none}
dl.form dd.check ul{margin:0 -16px 0 -4px}
dl.form dd.check ul li{float:left;margin:0 16px 0 4px}
dl.form dd.tel{margin:0 -1% 0 40px}
dl.form dd.tel .hyphen{float:left;width:20px;padding:7px 0;text-align:center;font-size:15px;color:#666;line-height:21px}
dl.form dd.tel input:nth-child(1),
dl.form dd.tel select{width:33%;margin:0 0 0 -40px}
dl.form dd.tel input{width:33%}
dl.form dd.search{}
dl.form dd.search input{padding-right:35px}
dl.form dd.search button{position:absolute;top:0;right:0;overflow:hidden;width:35px;height:35px;text-indent:-9999px}
dl.form dd.search button:before{content:"";position:absolute;top:7px;left:7px;width:18px;height:18px;box-sizing:border-box;border:2px solid #999;border-radius:100%}
dl.form dd.search button:after{content:"";position:absolute;top:24px;left:21px;width:7px;height:2px;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#999}
dl.form dd.email{border-left:20px solid transparent}
dl.form dd.email input[type=text]{width:50%}
dl.form dd.email input[type=text]:first-child{margin:0 0 0 -20px}
dl.form dd.email .at{float:left;width:20px;padding:7px 0;text-align:center;font-size:15px;color:#666;line-height:21px}
dl.form dd.birth{margin:0 -1% 0 20px}
dl.form dd.birth select{width:33%;margin:0 0 0 10px}
dl.form dd.birth select:first-child{margin:0 0 0 -20px}
dl.form dd.biz{margin:0 0 0 20px}
dl.form dd.biz input{margin:0 0 0 10px}
dl.form dd.biz input:nth-child(1){width:30%;margin:0 0 0 -20px}
dl.form dd.biz input:nth-child(2){width:20%}
dl.form dd.biz input:nth-child(3){width:50%}
dl.form dd.text{font-size:15px;color:black;line-height:21px;font-weight:bold}
dl.form.coupon{margin:20px 0 0;padding:12px 10px 16px;border:3px solid #ccc}
dl.form.coupon dt{text-align:center}
dl.form.coupon dd{margin:0 -8px;text-align:center}
dl.form.coupon dd.insert{margin:0 -1% 0 20px}
dl.form.coupon dd.insert input{width:33%;margin:0 0 0 10px;padding-left:0;padding-right:0;text-align:center}
dl.form.coupon dd.insert input:nth-child(1){width:33%;margin:0 0 0 -20px}
dl.form.coupon dd .basicbutton{width:50%;margin:11px 0 0}

/* insert form line */
dl.formline{position:relative;clear:both;margin:8px 16px 0;padding:0 0 0 80px}
dl.formline dt{position:absolute;top:0;left:0;padding:7px 0;font-size:15px;color:#666;line-height:21px}
dl.formline dd:after{content:"";display:block;clear:both}
dl.formline dd input[type=text],
dl.formline dd input[type=password],
dl.formline dd input[type=number],
dl.formline dd input[type=tel],
dl.formline dd input[type=search],
dl.formline dd input[type=email],
dl.formline dd select{float:left;width:100%}
dl.formline dd.ea{position:relative;padding:0 34px}
dl.formline dd.ea input{text-align:center}
dl.formline dd.ea .minus{position:absolute;top:0;left:0;overflow:hidden;width:34px;height:35px;text-indent:-9999px;border:1px solid #ccc;border-right:none;background:white}
dl.formline dd.ea .minus:before{content:"";position:absolute;top:16px;left:9px;width:15px;height:1px;background:#999}
dl.formline dd.ea .plus{position:absolute;top:0;right:0;overflow:hidden;width:34px;height:35px;text-indent:-9999px;border:1px solid #ccc;border-left:none;background:white}
dl.formline dd.ea .plus:before{content:"";position:absolute;top:16px;left:9px;width:15px;height:1px;background:#999}
dl.formline dd.ea .plus:after{content:"";position:absolute;top:9px;left:16px;width:1px;height:15px;background:#999}

/* insert form box */
dl.formbox{clear:both;margin:20px 16px 0;padding:12px 16px 16px;border:1px solid #e6e6e6}
dl.formbox dt{line-height:17px}
dl.formbox dd{position:relative;border-top:5px solid transparent}
dl.formbox dd:after{content:"";display:block;clear:both}
dl.formbox dd.tel{margin:0 -1% 0 40px}
dl.formbox dd.tel .hyphen{float:left;width:20px;padding:7px 0;text-align:center;font-size:15px;color:#666;line-height:21px}
dl.formbox dd.tel input:nth-child(1),
dl.formbox dd.tel select{float:left;width:33%;margin:0 0 0 -40px}
dl.formbox dd.tel input{float:left;width:33%}
dl.formbox dd.biz{margin:0 0 0 20px}
dl.formbox dd.biz input{float:left;margin:0 0 0 10px}
dl.formbox dd.biz input:nth-child(1){width:30%;margin:0 0 0 -20px}
dl.formbox dd.biz input:nth-child(2){width:20%}
dl.formbox dd.biz input:nth-child(3){width:50%}

/* text data list */
dl.data{clear:both;padding:7px 16px 5px;border:1px solid #e6e6e6;border-top:none}
.basictitle+dl.data{margin: 10px 0 0;border-top:2px solid black}
dl.data:after{content:"";display:block;clear:both}
dl.data dt{float:left;width:80px;padding:5px 0;font-size:14px;color:black;line-height:19px}
dl.data dt label{height:auto;vertical-align:top;font-size:14px;color:black;line-height:19px}
dl.data dd{float:right;max-width:calc(100% - 80px);padding:5px 0;word-wrap:break-word;text-align:right;font-size:14px;line-height:19px}
dl.data dd input[type=text],
dl.data dd input[type=password],
dl.data dd input[type=number],
dl.data dd input[type=tel],
dl.data dd input[type=search],
dl.data dd input[type=email]{width:120px;margin:-5px 0 -3px;padding:4px 4px 2px;text-align:right;font-size:14px;line-height:19px}
dl.data dd .basicbutton{margin:-5px 0 -3px;padding:4px 10px 2px;font-size:14px;line-height:19px}
dl.data dd.text{float:left;text-align:left}
dl.data dt.long{width:120px}
dl.data dt.long+dl.data dd{max-width:calc(100% - 120px)}
dl.data.row dt,
dl.data.row dd{font-size:13px;color:#999;line-height:17px}

/* text data check list */
dl.pay{clear:both;margin: 0;padding:12px 16px 10px;border:1px solid #e6e6e6;border-top:none}
.basictitle+dl.pay{margin:10px 16px 0;border-top:2px solid black}
.blind+dl.pay{margin:20px 16px 0;border-top:1px solid #e6e6e6}
dl.pay dd{position:relative;padding:0 0 0 26px}
dl.pay dd:after{content:"";display:block;clear:both}
dl.pay dd input[type=radio],
dl.pay dd input[type=checkbox]{position:absolute;top:0;left:0}
dl.pay dd label{height:auto;margin:0}
dl.pay dd #online_container{padding:0 0 6px}
dl.pay dd dl.form{margin:0 0 0 -26px;padding:0}
dl.pay dd dl.form dd{padding:0;font-size:15px;line-height:17px}
.basictitle+dl.pay.address{margin:16px 16px 0;border-top:2px solid black}
.blind+dl.pay.address{margin: 20px 0 0;border-top:2px solid black}
dl.pay.address dd input[type=radio],
dl.pay.address dd input[type=checkbox]{position:absolute;top:50%;margin:-8px 0 0}
dl.pay.address dd label{font-size:13px;line-height:18px}

/* text list */
ul.list{clear:both;margin:20px 0 0;border-top:1px solid #e6e6e6}
.basictitle+ul.list{margin:10px -20px 0}
ul.list li{position:relative;padding:16px 0;border-bottom:1px solid #e6e6e6}
ul.list li:after{content:"";display:block;clear:both}
ul.list li li{padding-top:0;padding-bottom:0;border:none}
ul.list li a:empty,
ul.list li p:empty{display:none;margin:0}
ul.list li .link{display:block;position:relative;float:left;width:100%;margin:-16px 0;padding:16px 0}
ul.list li .title{display:block;padding:0 96px 0 16px;word-wrap:break-word;font-size:15px;color:black;line-height:20px}
ul.list li .title .new{display:inline-block;width:16px;height:15px;margin:1px 0 0;vertical-align:top;text-align:center;font-size:12px;color:white;line-height:16px;font-weight:bold;font-family:Arial,Apple Gothic,Droid Sans,'Malgun Gothic',Dotum,sans-serif;background:orange}
ul.list li .title .lock{display:inline-block;position:relative;overflow:hidden;width:16px;height:15px;margin:1px 0 0;vertical-align:top;text-indent:-9999px}
ul.list li .title .lock:before{content:"";position:absolute;top:1px;left:4px;width:6px;height:5px;border-radius:8px 8px 0 0;border:1px solid black;border-bottom:none}
ul.list li .title .lock:after{content:"";position:absolute;bottom:1px;left:2px;width:10px;height:6px;border:1px solid black}
ul.list li .text{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;max-height:36px;margin:5px 0 0;padding:0 96px 0 16px;word-wrap:break-word;font-size:13px;color:#999;line-height:18px}
ul.list li .state{position:absolute;top:50%;right:16px;margin:-10px 0 0;font-size:15px;color:black;line-height:20px}
ul.list li .point{position:absolute;top:50%;right:16px;overflow:hidden;width:75px;height:15px;margin:-8px 0 0;text-indent:-9999px;background:url(../imgs/icon/starx2.png) 0 0 no-repeat;background-size:75px 90px}
ul.list li .point.point0{background-position:0 -75px}
ul.list li .point.point1{background-position:0 -60px}
ul.list li .point.point2{background-position:0 -45px}
ul.list li .point.point3{background-position:0 -30px}
ul.list li .point.point4{background-position:0 -16px}
ul.list li .point.point5{background-position:0 0}
ul.list li .editorcontent{display:none;float:left;width:100%;margin:16px 0 -16px;padding:16px;box-sizing:border-box;border-top:1px solid #e6e6e6;background:#f7f7f7}
ul.list li .editorcontent .admin .basicinfo{margin:16px 0 0;padding:0 0 5px}
ul.list li .editorcontent .buttonwrapright{padding-right:0}

/* text col table */
table.cols{table-layout:fixed;clear:both;width:100%;margin:0;font-size:13px;color:#666;line-height:18px}
table.cols th{padding:8px;text-align:center;border-bottom:1px solid #e6e6e6}
table.cols td{padding:8px;vertical-align:middle;word-wrap:break-word;border-bottom:1px solid #e6e6e6}
table.cols td .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;max-height:36px;word-wrap:break-word}
table.cols td .option{color:#999}
table.cols td .date{font-size:12px;color:#999}
table.cols td select{width:100%}
table.cols th:first-child,
table.cols td:first-child{padding-left:16px}
table.cols th:last-child,
table.cols td:last-child{padding-right:16px}

/* text row table */
.datatable{clear:both;margin:20px 16px 0}
.basictitle+.datatable{margin: 10px 0 0;}
.datatable table{table-layout:fixed;width:100%;margin:0;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6}
.datatable table th{padding:5px;vertical-align:middle;word-wrap:break-word;text-align:left;font-size:13px;color:#666;line-height:18px;font-weight:normal;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background:#f7f7f7}
.datatable table td{padding:5px;vertical-align:middle;word-wrap:break-word;text-align:left;font-size:13px;color:#666;line-height:18px;font-weight:normal;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6}

/* product item single, order */
.productlistsingle{clear:both;}
.productlistsingle li{position:relative;/* margin:0 -16px; */border-bottom:1px solid #e6e6e6}
.productlistsingle li:after{content:"";display:block;clear:both}
.productlistsingle li .nolink,
.productlistsingle li a{display:flex;flex-direction:column;justify-content:center;position:relative;z-index:1;min-height:97px;padding:16px 16px 19px 132px}
.productlistsingle li .nolink img,
.productlistsingle li a img{position:absolute;top:50%;left:16px;width:100px;height:100px;margin:-50px 0 0;object-fit:cover;}
.productlistsingle li .nolink p:empty,
.productlistsingle li a p:empty{display:none;margin:0}
.productlistsingle li .nolink .title,
.productlistsingle li a .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;max-height:36px;margin:5px 0 0;word-wrap:break-word;font-size:14px;color:black;line-height:18px}
.productlistsingle li .nolink .summary,
.productlistsingle li a .summary{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:12px;color:#999;line-height:16px}
.productlistsingle li .nolink .option,
.productlistsingle li a .option{display:block;margin:5px 0 0;word-wrap:break-word;font-size:12px;color:#999;line-height:16px}
.productlistsingle li .nolink .marketprice,
.productlistsingle li a .marketprice{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:12px;color:#999;line-height:16px;text-decoration:line-through}
.productlistsingle li .nolink .price,
.productlistsingle li a .price{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:14px;color:black;line-height:18px;font-weight:bold}
.productlistsingle li .nolink .icons,
.productlistsingle li a .icons{}
.productlistsingle li .nolink .icons img,
.productlistsingle li a .icons img{position:static;display:inline-block;width:auto;height:auto;margin:5px 0 0;vertical-align:top}
.productlistsingle li input[type=checkbox]{position:absolute;top:16px;left:16px;z-index:2}
.productlistsingle li.orderitem{border-bottom:none}
.productlistsingle li.orderitem .view{display:block;position:relative;clear:both;min-height:0;padding:9px 16px 8px;border-bottom:1px solid #e6e6e6;background:#f7f7f7}
.productlistsingle li.orderitem a.view:after{content:"";position:absolute;top:50%;right:19px;width:10px;height:10px;margin:-6px 0 0;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);border-top:2px solid #999;border-right:2px solid #999}
.productlistsingle li.orderitem .box{position:relative;padding:16px 0;border-bottom:1px solid #e6e6e6}
.productlistsingle li.orderitem .box:after{content:"";display:block;clear:both}
.productlistsingle li.orderitem .box a{min-height:80px;padding:0 16px 0 112px}
.productlistsingle li.orderitem .box a img{top:0;left:16px;width:78px;height:78px;margin:0;border:1px solid #e6e6e6}
.productlistsingle li.orderitem .box a .title{margin:0}
.productlistsingle li.orderitem .box input[type=checkbox]+a{padding:0 16px 0 138px}
.productlistsingle li.orderitem .box input[type=checkbox]+a img{left:42px}
.productlistsingle li.orderitem .box .control{clear:both;padding:0 11px 0 112px}
.productlistsingle li.orderitem .box input[type=checkbox]+a+.control{padding:0 11px 0 138px}
.productlistsingle li.orderitem .box .control li{float:left;width:50%;margin:0;padding:0 5px 0  0;box-sizing:border-box;border:none}
.productlistsingle li.orderitem .box .control li a,
.productlistsingle li.orderitem .box .control li button{display:block;float:left;width:100%;min-height:0;margin:5px 0 0;padding:4px 0;white-space:nowrap;text-align:center;font-size:13px;color:#666;line-height:18px;border:1px solid #ccc;background:white}
.productlistsingle li.orderitem .box .control li .fill{color:white;border:1px solid #444;background:#444}
.productlistsingle li.orderitem .box .control li:nth-child(1) a,
.productlistsingle li.orderitem .box .control li:nth-child(1) button,
.productlistsingle li.orderitem .box .control li:nth-child(2) a,
.productlistsingle li.orderitem .box .control li:nth-child(2) button{margin:10px 0 0}
.productlistsingle li.orderitem .box .control.triple{margin:0 -1% 0 0}
.productlistsingle li.orderitem .box .control.triple li{width:33%}
.productlistsingle li.orderitem .box .control.triple li:nth-child(3) a,
.productlistsingle li.orderitem .box .control.triple li:nth-child(3) button{margin:10px 0 0}
.productlistsingle li.orderitem .box div.control,
.productlistsingle li.orderitem .box input[type=checkbox]+a+div.control{padding-top:10px;padding-right:16px}
.productlistsingle li.orderitem .box div.control select{width:100%}
.productlistsingle li.orderitem .box .boxlabel{position:absolute;top:6px;left:6px;z-index:5;overflow:hidden;width:36px;height:36px;text-indent:-9999px}

/* product item half */
.productlisthalf{clear:both;padding: 0;}
.productlisthalf:after{content:"";display:block;clear:both}
.productlisthalf li{float:left;width:50%;margin:20px 0 0;box-sizing:border-box}
.productlisthalf li:nth-child(odd){clear:both;padding:0 5px 0 0}
.productlisthalf li:nth-child(even){padding:0 0 0 5px}
.productlisthalf li a{display:block}
.productlisthalf li a img{display:block;width:100%}
.productlisthalf li a p:empty{display:none;margin:0}
.productlisthalf li a .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;max-height:36px;margin:5px 0 0;word-wrap:break-word;font-size:14px;color:black;line-height:18px}
.productlisthalf li a .summary{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:12px;color:#999;line-height:16px}
.productlisthalf li a .marketprice{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:12px;color:#999;line-height:16px;text-decoration:line-through}
.productlisthalf li a .price{display:block;text-overflow:ellipsis;overflow:hidden;margin:5px 0 0;white-space:nowrap;font-size:14px;color:black;line-height:18px;font-weight:bold}
.productlisthalf li a .icons{}
.productlisthalf li a .icons img{display:inline-block;width:auto;height:auto;margin:5px 0 0;vertical-align:top}

/* global list none */
.listnone{position:relative !important;float:none !important;width:100% !important;height:auto !important;margin:0 !important;padding:86px 0 20px!important;text-align:center !important;font-size:15px !important;color:#999 !important;line-height:21px !important;font-weight:normal !important;border:none !important;background:none !important}
.listnone:before{content:"";position:absolute;top:20px;left:50%;width:50px;height:50px;margin:0 0 0 -25px;box-sizing:border-box;border:2px solid #e6e6e6;border-radius:100%}
.listnone:after{content:"";position:absolute;top:32px;left:50%;width:4px;height:4px;margin:0 0 0 -2px;border-top:18px solid #e6e6e6;border-bottom:4px solid #e6e6e6}

/* swpipe */
.gaessamzieFlick{clear:both;text-align:center;line-height:0}
.gaessamzieFlick:after{content:"";display:block;clear:both}
.gaessamzieFlick .gaessamzieFlickStage{z-index:1;text-align:left;line-height:21px}
.gaessamzieFlick .gaessamzieFlickStage:after{content:"";display:block;clear:both}
.gaessamzieFlick .gaessamzieFlickStage .gaessamzieFlickItem{-moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.gaessamzieFlick .gaessamzieFlickStage .gaessamzieFlickItem a,
.gaessamzieFlick .gaessamzieFlickStage .gaessamzieFlickItem img{display:block;width:100%}
.gaessamzieFlick .gaessamzieFlickIndicator{display:inline-block;position:relative;z-index:2;clear:both;margin:5px 0 0;vertical-align:top;line-height:0}
.gaessamzieFlick .gaessamzieFlickIndicator:after{content:"";display:block;clear:both}
.gaessamzieFlick .gaessamzieFlickIndicator li{position:relative;float:left;width:10px;height:10px;margin:5px 5px 0}
.gaessamzieFlick .gaessamzieFlickIndicator li a{display:block;overflow:hidden;width:10px;height:10px;text-indent:-9999px;border-radius:100%;background:#ccc}
.gaessamzieFlick .gaessamzieFlickIndicator li.active a{background:black}

/* layer popup */
#layerpopup{display:flex;flex-direction:column;justify-content:center;visibility:hidden;position:fixed;top:0;left:0;z-index:-1;width:100%;min-width:320px;height:100%;padding:16px;box-sizing:border-box}
#layerpopup .dim{position:fixed;top:-25%;left:0;z-index:200;width:100%;height:200%;opacity:0.3;background:black}
#layerpopup .popup{position:relative;z-index:300;overflow-y:auto;-webkit-overflow-scrolling:touch;width:100%;max-height:100%;padding:0 0 20px;box-sizing:border-box;word-wrap:break-word;background:white}
#layerpopup .popup .close{position:absolute;top:3px;right:0;overflow:hidden;width:52px;height:52px;text-indent:-9999px;background:none}
#layerpopup .popup .close:before{content:"";position:absolute;top:50%;left:50%;width:24px;height:2px;margin:-1px 0 0 -12px;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);background:black}
#layerpopup .popup .close:after{content:"";position:absolute;top:50%;left:50%;width:2px;height:24px;margin:-12px 0 0 -1px;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);background:black}
#layerpopup .productlistsingle li a{padding-left:112px}
#layerpopup .productlistsingle li a img{width:80px;height:80px;margin:-40px 0 0}
#layerpopup .modifybox{clear:both;padding:12px 0 20px;border-bottom:1px solid #e6e6e6}
#layerpopup .detailsection{margin:0 16px;border-top:none}
#layerpopup .detailsection.totalprice{margin:20px 0 0;padding:12px 16px 0;border-top:2px solid black}

/* layer alert */
#layeralert{width:256px;padding:16px 0;text-align:center;border:2px solid black;background:white}
#layeralert .buttonwrap{padding-top:16px;margin: 0 16px;}