@charset "utf-8";

/* spoqa font */
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 700;
	src: local('Spoqa Han Sans Neo Bold'),
	url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 500;
	src: local('Spoqa Han Sans Neo Medium'),
	url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 400;
	src: local('Spoqa Han Sans Neo Regular'),
	url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 300;
	src: local('Spoqa Han Sans Neo Light'),
	url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 100;
	src: local('Spoqa Han Sans Neo Thin'),
	url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
	url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
	url('/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

/* noto sans font */
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:url('/fonts/NotoSansKR-Light.eot');
	src:url('/fonts/NotoSansKR-Light.woff') format('woff'),
	url('/fonts/NotoSansKR-Light.otf') format('otf'),
	url('/fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url('/fonts/NotoSansKR-Regular.eot');
	src:url('/fonts/NotoSansKR-Regular.woff') format('woff'),
	url('/fonts/NotoSansKR-Regular.otf') format('otf'),
	url('/fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url('/fonts/NotoSansKR-Medium.eot');
	src:url('/fonts/NotoSansKR-Medium.woff') format('woff'),
	url('/fonts/NotoSansKR-Medium.otf') format('otf'),
	url('/fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url('/fonts/NotoSansKR-Bold.eot');
	src:url('/fonts/NotoSansKR-Bold.woff') format('woff'),
	url('/fonts/NotoSansKR-Bold.otf') format('otf'),
	url('/fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype');
}

/* RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:none 0}
body{font-size:12px;color:#777;line-height:1.5;font-weight:400;font-family:'Noto Sans KR',sans-serif;background:none}
select,input,img,li,button{vertical-align:middle;text-align:left}
input{margin:0 3px;padding:0}
form legend,table caption{width:0;height:0;font-size:0;text-indent:-9999px;line-height:0}
select{min-width:83px;height:25px;vertical-align:top;font-size:13px;line-height:19px;font-family:'Noto Sans KR',sans-serif;border:1px solid #ccc;color:#333}
textarea{margin:0;padding:2px 5px;font-size:13px;line-height:19px;font-family:'Noto Sans KR',sans-serif;border:1px solid #ccc;color:#333;resize:none}
img,fieldset,iframe{border:0 none}
h1,h2,h3,h4,h5,h6 {font-weight: 500;}
table,div{border-collapse:collapse;border-spacing:0}
table{width:100%}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ul,li,ol{list-style-type:none}
li{line-height:17px}
li,p,dt,dd,div,span{white-space:normal}
button{padding:0;margin:0;box-sizing:border-box;vertical-align:top;font-size:12px;color:#555;line-height:1.5;font-weight:400;font-family:'Noto Sans KR',sans-serif;border:none;background:transparent;cursor:pointer}
button::-moz-focus-inner{border:0;padding:0}
a{text-decoration:none;color:#666}
label{cursor:pointer}
button,select,option,input,textarea{outline:none}
strong{font-weight:500;}

.clr:after{content:''; display:block; clear:both;}

/* global class */
/* none */
.bg_none{background:none !important}
.pad_none{padding:0 !important}
.mar_none{margin:0 !important}
.bor_none{border:0 none !important}
.over_h{overflow:hidden !important}
/* align */
.txt_left{text-align:left !important}
.txt_center{text-align:center !important}
.txt_right{text-align:right !important}
/* float */
.floatL{float:left !important}
.floatR{float:right !important}
.float_a{display:block !important;float:left !important}
.list_float{overflow:hidden !important}
.list_float li{float:left !important}
/* font */
.font11{font-size:11px !important}
.font12{font-size:12px !important}
.font13{font-size:13px !important}
.font14{font-size:14px !important}
.font16{font-size:16px !important}
.bold{font-weight:bold !important}
.normal{font-weight:normal !important}
.underline{text-decoration:underline !important}
.letter-1{letter-spacing:-1px !important}
.letter0{letter-spacing:0 !important}
.line16{line-height:16px !important}
.line18{line-height:18px !important}
/* color */
.blk{color:#2b2b2b !important}
.g88{color:#888 !important}
.pur{color:#4250b9 !important}
/* ellipsis */
.ellWrap{width:100%}
.ellipsis,.ellipsisList li{display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap}
/* margin */
.mgr5{margin-right:5px !important}
.mgt3{margin-top:3px !important}
.mgt5{margin-top:5px !important}
.mgt10{margin-top:10px !important}
.mgt15{margin-top:15px !important}
.mgt20{margin-top:20px !important}
.mgt30{margin-top:30px !important}
.mgt40{margin-top:40px !important}
.mgt60{margin-top:60px !important}
.mgb2{margin-bottom:2px !important}
.mgb5{margin-bottom:5px !important}
.mgb7{margin-bottom:7px !important}
.mgb10{margin-bottom:10px !important}
.mgb15{margin-bottom:15px !important}
.mgb20{margin-bottom:20px !important}
.mgb30{margin-bottom:30px !important}
.mgb40{margin-bottom:40px !important}
.mgb50{margin-bottom:50px !important}
.mgb60{margin-bottom:60px !important}
/* padding */
.pdt12{padding-top:12px !important}
.pdt30{padding-top:30px !important}
.pdl15{padding-left:15px !important}
/* display */
.in{display:inline !important}
/* input */
.txt{height:19px;margin:0;padding:2px 0;vertical-align:top;font-size:13px;font-family:'Noto Sans KR',sans-serif;border:1px solid #ccc;background-color:#fff;line-height:19px;text-indent:5px}
.txtH28 {height:18px;margin:0;padding:4px 5px;line-height:18px;border:solid 1px #ccc;font-family:'Noto Sans KR',sans-serif;}
.blind{position:absolute;top:-9999px;overflow:hidden;width:0;height:0;padding:0;line-height:0}


/* initialize */
body{min-width:1460px}
#wrap{position:relative;overflow:hidden}

/* top Ad */
.top-banner{width:100%;text-align:center}
.top-banner .banner-inner{position:relative;display:inline-block;width:100%}
.top-banner img{max-width:1920px; width:100%;}
.top-banner .topbn-close-button{position:absolute;top:50%;right:30px;z-index:10;overflow:hidden;width:17px;height:17px;text-indent:-9999px;background:url(../imgs/global/close1.png) center center no-repeat;margin-top:-7px}

/* header */
#header{position: absolute;top: 0;left: 0;z-index: 101;width:100%;background: #fff;}
#header .body {position: relative; z-index: 2; max-width: 1920px; height: 114px; margin: 0 auto; padding: 0 0 20px; box-sizing: border-box; border-top: 60px solid transparent; border-left: 165px solid transparent;border-right: 165px solid transparent}
#header .body:after {content: ""; display: block; clear: both}
#header .body h1 {float: left; height: 0; padding: 34px 0 0}

#header .body h1 a,#header .body h1 a img {display: block; margin-top:-46px;}

#header .body .globalsearch {position: absolute;top: 0;right: 70px;z-index: 2}
#header .body .globalsearch:after {content: "";display: block;clear: both}
#header .body .globalsearch input[type=search] {display: none;float: left;width: 360px;margin: 0 9px 0 0;padding: 4px 14px 6px;font-size: 14px;line-height: 20px;border-radius: 16px;border: 2px solid #000;background: #fff}
#header .body .globalsearch input[type=search]::placeholder {color: #999}
#header .body .globalsearch input[type=search]:-ms-input-placeholder {color: #999}
#header .body .globalsearch input[type=search]::-webkit-input-placeholder {color: #999}
#header .body .globalsearch input[type=search]::-ms-input-placeholder {color: #999}
#header .body .globalsearch .sh-button {position: absolute;top: 0;right: 0;overflow: hidden;width: 34px;height: 34px;text-indent: -9999px}
#header .body .globalsearch .submit-button {float: right;overflow: hidden;width: 34px;height: 34px;text-indent: -9999px;background: url(../imgs/global/top_search.png) center center no-repeat}

#header .body .globalsearch .helplayer{visibility:hidden;position:absolute;top:-9999px;left:0;width:360px;margin:10px 0 0;padding:18px 28px 28px;box-sizing:border-box;border:2px solid #ddd;background:#fff}
#header .body .globalsearch .helplayer ul{position:relative;z-index:1}
#header .body .globalsearch .helplayer ul .item{display:inline;vertical-align:top}
#header .body .globalsearch .helplayer ul .item .item-button{position:absolute;top:0;left:50%;z-index:2;width:100%;padding:7px 0 8px;text-align:center;font-size:16px;color:#999;line-height:22px;font-weight:500;border-bottom:4px solid #eee}
#header .body .globalsearch .helplayer ul .item:first-child .item-button{left:0}
#header .body .globalsearch .helplayer ul .item .item-cont{display:none;position:relative;z-index:1;padding:61px 0 0}
#header .body .globalsearch .helplayer ul .item .item-cont:after{content:"";display:block;clear:both}
#header .body .globalsearch .helplayer ul .item .item-cont ol,#header .body .globalsearch .helplayer ul .item .item-cont ul{float:left;width:100%;height:300px;margin:-10px 0 9px}
#header .body .globalsearch .helplayer ul .item .item-cont li{padding:5px 0;white-space:nowrap;font-size:14px;color:#333;line-height:20px}
#header .body .globalsearch .helplayer ul .item .item-cont li:after{content:"";display:block;clear:both}
#header .body .globalsearch .helplayer ul .item .item-cont li a{float:left;text-overflow:ellipsis;overflow:hidden;max-width:100%;white-space:nowrap;font-size:14px;color:#333;line-height:20px}
#header .body .globalsearch .helplayer ul .item .item-cont li.list-none{padding:75px 0;text-align:center;margin:0}
#header .body .globalsearch .helplayer ul .item .item-cont ol li a:before{display:inline-block;width:16px;margin:0 16px 0 0;vertical-align:top;color:#999}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(1) a:before{content:"1"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(2) a:before{content:"2"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(3) a:before{content:"3"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(4) a:before{content:"4"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(5) a:before{content:"5"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(6) a:before{content:"6"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(7) a:before{content:"7"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(8) a:before{content:"8"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(9) a:before{content:"9"}
#header .body .globalsearch .helplayer ul .item .item-cont ol li:nth-child(10) a:before{content:"10"}
#header .body .globalsearch .helplayer ul .item .item-cont .delete-button{position:absolute;bottom:-3px;left:0;z-index:2;font-size:12px;color:#666;line-height:19px}
#header .body .globalsearch .helplayer ul .item.active .item-button{color:#000;border-bottom-color:#000}
#header .body .globalsearch .helplayer ul .item.active .item-cont{display:block}
#header .body .globalsearch .helplayer .close-button{position:absolute;bottom:28px;right:28px;z-index:2;overflow:hidden;width:17px;height:17px;text-indent:-9999px;background:url(../imgs/global/close1.png) center center no-repeat}

#header .body .globalsearch.active input[type=search] {display: block}
#header .body .globalsearch.active .sh-button {display: none}

#header .body .globalcart {position: absolute;top: 0;right: 0;z-index: 1;overflow: hidden;width: 34px;height: 34px;-moz-transition: top .2s;-webkit-transition: top .2s;transition: top .2s;text-indent: -9999px;background: url(../imgs/global/top_cart.png) 0 0 no-repeat}
#header .body .globalcart span {position: absolute;top: 5px;right: 0;width: 16px;height: 16px;text-indent: 0;text-align: center;font-size: 12px;color: #fff;line-height: 14px;border-radius: 100%;background: #601986}
#header .body .globalutility {position: absolute;top: 54px;right: 0;z-index: 1;-moz-transition: right .2s;-webkit-transition: right .2s;transition: right .2s}
#header .body .globalutility:after {content: "";display: block;clear: both}
#header .body .globalutility li {position: relative;float: left;margin: 14px 0 0 19px;padding: 0 0 0 20px}
#header .body .globalutility li:before {content: "";position: absolute;top: 4px;left: 0;width: 1px;height: 13px;background: #606060}
#header .body .globalutility li:first-child {margin: 14px 0 0;padding: 0}
#header .body .globalutility li:first-child:before {display: none}
#header .body .globalutility li a {float: left;font-size: 14px;color: #222;line-height: 20px;letter-spacing: -.02em}

/* GNB */
#header .gnb {max-width: 1920px; margin: 0 auto; padding-left: 165px; padding-right: 165px; box-sizing: border-box}
#header .gnb:after {content: ""; display: block; clear: both}
#header .gnb>.core {margin: 0 152px 0 -20px; font-size: 0}
#header .gnb>.core>li {display: inline-block; margin: 0 8px 0 0; vertical-align: top}
#header .gnb>.core>li:after {content: "";display: block;clear: both}
#header .gnb>.core>li>a,#header .gnb>.core>li>button{position:relative;float:left;padding:13px 0 15px;font-size:16px;color:#222;line-height:22px;border-left:20px solid transparent;border-right:20px solid transparent}
#header .gnb>.core>li>a>img,#header .gnb>.core>li>button>img{display:inline-block;vertical-align:top}
#header .gnb>.core>li.shop{margin:0}
#header .gnb>.core>li.shop>a,#header .gnb>.core>li.shop>button{position:relative;float:left;padding:14px 0 16px;font-size:18px;color:#000;font-weight:700}
#header .gnb>.core>li.shopb>a,#header .gnb>.core>li.shopb>button{position:relative}
#header .gnb>.core>li.shop>a:before,#header .gnb>.core>li.shop>button:before,#header .gnb>.core>li.shopb>a:before,#header .gnb>.core>li.shopb>button:before{content:"";position:absolute;bottom:0;left:50%;width:0;height:4px;-moz-transition:width .2s;-webkit-transition:width .2s;transition:width .2s;background:#000}
#header .gnb>.core>li.shop>a:after,#header .gnb>.core>li.shop>button:after,#header .gnb>.core>li.shopb>a:after,#header .gnb>.core>li.shopb>button:after{content:"";position:absolute;bottom:0;right:50%;width:0;height:4px;-moz-transition:width .2s;-webkit-transition:width .2s;transition:width .2s;background:#000}
#header .gnb .over-area{position:absolute;top:164px;left:0;overflow:hidden;width:100%;height:0;background:#fff;}
#header .gnb .over-area:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;background:#ddd}
#header .gnb .over-area .contents{position:relative;max-width:1920px;margin:0 auto;padding:40px 165px 41px;box-sizing:border-box}
#header .gnb .over-area .contents:after{content:"";display:block;clear:both}
#header .gnb .over-area .contents .brand-list{float:left;width:614px;margin:-18px 0 -16px}
#header .gnb .over-area .contents .brand-list li{float:left;width:226px;margin:12px 0}
#header .gnb .over-area .contents .brand-list li:nth-child(3n+1){width:162px}
#header .gnb .over-area .contents .brand-list li a{float:left}
#header .gnb .over-area .contents .brand-list li strong{display:block;padding:1px 0;white-space:nowrap;font-size:16px;color:#333;line-height:23px;font-weight:700;font-family:roboto,sans-serif}
#header .gnb .over-area .contents .brand-list li span{display:block;padding:1px 0;white-space:nowrap;font-size:14px;color:#333;line-height:20px;font-weight:300}
#header .gnb .over-area .contents .cate-list{float:left;margin:-5px 0 -6px 80px}
#header .gnb .over-area .contents .cate-list:first-child{margin:-5px 0 -6px}
#header .gnb .over-area .contents .cate-list dt{padding:0 0 4px}
#header .gnb .over-area .contents .cate-list dt:after{content:"";display:block;clear:both}
#header .gnb .over-area .contents .cate-list dt a{display:block;font-size:16px;color:#333;line-height:23px;font-weight:700;font-family:roboto,sans-serif}
#header .gnb .over-area .contents .cate-list dd{padding:5px 0 0}
#header .gnb .over-area .contents .cate-list dd:after{content:"";display:block;clear:both}
#header .gnb .over-area .contents .cate-list dd a{float:left;font-size:14px;color:#333;line-height:21px;font-family:roboto,noto sans kr,sans-serif}
#header .gnb>.core>li.shop:hover>a:before,#header .gnb>.core>li.shop:hover>button:before,#header .gnb>.core>li.shopb:hover>a:before,#header .gnb>.core>li.shopb:hover>button:before,#header .gnb>.core>li.shop:hover>a:after,#header .gnb>.core>li.shop:hover>button:after,#header .gnb>.core>li.shopb:hover>a:after,#header .gnb>.core>li.shopb:hover>button:after{width:50%}
#header .gnb>.core>li.shop:hover .over-area,#header .gnb>.core>li.shopb:hover .over-area{height:auto}

/* container */
#container{position:relative;width:1460px;margin: 40px auto;box-sizing:border-box;border-top:164px solid transparent;}
#container:after{content:"";display:block;clear:both}
#contents{float:right;width: 1200px;text-align:left;margin:0 0 50px}
#contents100{width:100%;text-align:left;margin: 0 0 50px;}


/* 상품관련 */
.product-item{clear:both}
.product-item .list{margin:0 -17px 0 0}
.product-item .list:after{content:"";display:block;clear:both}
.product-item .list .item{position:relative;float:left;width:20%;margin:0 0 50px;box-sizing:border-box;border-right:17px solid transparent}
.product-item .list .item a{display:block}
.product-item .list .item a .img{display:block;position:relative;z-index:1;width:100%;margin:0 0 30px;background-color:#fff;background-size:cover;background-position:center center;background-repeat:no-repeat}
.product-item .list .item a .img img{display:block;width:100%}
.product-item .list .item a .text{display:block;min-height:108px}
.product-item .list .item a .text:after{content:"";display:block;clear:both}
.product-item .list .item a .text .brand{float:left;clear:both;width:100%;text-overflow:ellipsis;overflow:hidden;margin:-2px 0 -3px;padding:8px 0 2px;white-space:nowrap;font-size:12px;color:#999;line-height:14px;font-weight:500;font-family:roboto,sans-serif}
.product-item .list .item a .text .name{float:left;clear:both;width:100%;text-overflow:ellipsis;overflow:hidden;margin:-3px 0 -1px;padding:8px 0 2px;white-space:nowrap;font-size:16px;color:#333;line-height:20px}
.product-item .list .item a .text .summary{float:left;clear:both;width:100%;text-overflow:ellipsis;overflow:hidden;margin:-3px 0 -1px;padding:8px 0 2px;white-space:nowrap;font-size: 14px;line-height:20px;color: #777;}
.product-item .list .item a .text .price{float:left;clear:both;width:100%;text-overflow:ellipsis;overflow:hidden;margin:-4px 0 -2px;padding:13px 0 2px;white-space:nowrap;font-size:18px;color:#000;line-height:22px;font-weight:500;font-family:spoqa han sans neo,sans-serif}
.product-item .list .item a .text .price del{display:inline-block;margin:3px 0 -1px 8px;vertical-align:top;font-size:14px;color:#999;line-height:20px;font-weight:300}
.product-item .list .item a .text .price strong{display:inline-block;margin:0 0 0 8px;vertical-align:top;color:red;font-weight:400}
.product-item .list .item a .text .ic-c{float:left;width:50px;margin:18px 5px 0 0;padding:1px 0 3px;text-align:center;font-size:12px;color:#777;line-height:18px;background:#eee}
.product-item .list .item a .text .ic-n{float:left;width:50px;margin:18px 5px 0 0;padding:1px 0 3px;text-align:center;font-size:12px;color:#601986;line-height:18px;font-weight:300;background:#e7dded}
.product-item .list .item a .text .ic-i{float:left;width:50px;padding:1px 0 3px;margin:18px 5px 0 0;height:18px;text-align:center;background:url(../imgs/global/candyIcon.png) center center no-repeat;background-size:contain}
.product-item .list .item a .text>:first-child{padding-top:0!important}
.product-item .list .item .wish{position:absolute;top:16px;right:16px;z-index:5;overflow:hidden;width:28px;height:26px;text-indent:-9999px;background:url(../imgs/global/list_wish.png) center center no-repeat}
.product-item .list .item .wish.active{background:url(../imgs/global/list_wish_on.png) center center no-repeat}
.product-item .list .item.soldout .img:after{content:"품절상품";display:flex;flex-direction:column;justify-content:center;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;font-size:16px;color:#fff;line-height:20px;background:rgba(0,0,0,.5)}
.product-item .list .list-none{margin-bottom:50px;padding:67px 0 89px;text-align:center;font-size:16px;color:#000;line-height:24px;border-right:17px solid transparent}

/* footer */
#footer{position:relative;clear:both;max-width:1920px;margin:0 auto;padding:0 165px;box-sizing:border-box}
#footer:after{content:"";display:block;clear:both}
#footer .menu{position:relative;padding:20px 0}
#footer .menu:after{content:"";display:block;clear:both}
#footer .menu li{position:relative;float:left;margin:0 40px 0 0;padding:0 0 0 42px}
#footer .menu li:before{content:"";position:absolute;top:10px;left:0;width:2px;height:15px;background:#ccc}
#footer .menu li a{display:block;padding:10px 10px 11px;font-size:14px;color:#646464;line-height:14px}
#footer .menu li:first-child{margin:0 40px 0 -10px;padding:0}
#footer .menu li:first-child:before{display:none}
#footer .body{position:relative;padding:50px 0;background:#f3f3f3}
#footer .body:before{content:"";position:absolute;top:0;left:-9999px;z-index:1;width:29997px;height:100%;background:#f3f3f3}
#footer .body:after{content:"";display:block;clear:both}
#footer .body .logo{position:relative;z-index:2;float:left;margin:0 45px 0 0}
#footer .body .text{position:relative;z-index:2;float:left;margin:-6px 0 -4px;font-size:12px;color:#777;line-height:21px;font-weight:300;letter-spacing:.04em}
#footer .body .text a{color:#777}
#footer .body .text a:hover{text-decoration:underline}
#footer .body .text address{display:inline;vertical-align:top;font-size:12px;color:#777;line-height:22px;font-weight:300;letter-spacing:.04em}
#footer .body .text .highlight{display:inline-block;position:relative;margin:0 5px 0 16px;vertical-align:top;color:#555}
#footer .body .text .highlight:after{content:"";position:absolute;bottom:1px;left:0;width:100%;height:1px;background:#555}
#footer .body .text .highlight:hover{text-decoration:none}
#footer .body .cs{position:relative;z-index:2;float:right}
#footer .body .cs h6{float:left;clear:both;margin:-1px 0 0;font-size:14px;color:#080808;line-height:14px;font-weight:400;letter-spacing:.04em}
#footer .body .cs h6 strong{display:block;margin:5px 0 -4px;font-size:20px;line-height:23px;font-weight:500;font-family:spoqa han sans neo,sans-serif}
#footer .body .cs p{float:left;clear:both;margin:-7px 0 -9px;padding:30px 0 0;font-size:14px;color:#2f2f2f;line-height:26px;font-weight:400;letter-spacing:.055em;font-family:roboto,noto sans kr,sans-serif}
#footer .body .sitemap{position:relative;z-index:2;float:right;margin:-9px 100px -4px 0}
#footer .body .sitemap li:after{content:"";display:block;clear:both}
#footer .body .sitemap li a{float:left;margin:3px 0 0;white-space:nowrap;font-size:12px;color:#777;line-height:21px;font-weight:300;letter-spacing:.04em}
#footer .body .sitemap li a:hover{text-decoration:underline}

/* quickbar */
#wing{position:fixed;bottom:30px;right:0;z-index:101;width:100%;height:0}
#wing .body{position:relative;max-width:1920px;margin:0 auto;box-sizing:border-box;border-left:165px solid transparent;border-right:165px solid transparent}
#wing .body .contents{position:absolute;bottom:0;right:0;width:48px;margin:0 -92px 0 0;padding:17px 12px;border-radius:11px;background:#333}
#wing .body .contents .item{padding:12px 0}
#wing .body .contents .item:after{content:"";display:block;clear:both}
#wing .body .contents .item .today{position:relative;z-index:2;float:left;overflow:hidden;width:48px;height:48px;text-indent:-9999px;background:url(../imgs/global/wing_today.png) center center no-repeat}
#wing .body .contents .item .todaylist{visibility:hidden;position:absolute;top:-9999px;right:72px;z-index:1;width:454px;min-height:205px;padding:15px 2px 30px}
#wing .body .contents .item .todaylist:before{content:"";position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;box-sizing:border-box;border-radius:11px;border:2px solid #ddd;background:#fff}
#wing .body .contents .item .todaylist:after{content:"";position:absolute;bottom:0;right:-12px;z-index:1;width:36px;height:178px;background:#333}
#wing .body .contents .item .todaylist h6{position:relative;z-index:3;margin:0 28px;padding:10px 0 12px;font-size:18px;color:#000;line-height:24px;font-weight:400;border-bottom:2px solid #000}
#wing .body .contents .item .todaylist ul{position:relative;z-index:3;margin:0 28px}
#wing .body .contents .item .todaylist ul li{border-bottom:1px solid #eee}
#wing .body .contents .item .todaylist ul li a{display:block;position:relative;padding:20px 16px}
#wing .body .contents .item .todaylist ul li a:after{content:"";display:block;clear:both}
#wing .body .contents .item .todaylist ul li a .img{position:relative;float:left;overflow:hidden;width:84px;height:120px;margin:0 16px 0 0;background-color:#fff;background-size:cover;background-position:center center;background-repeat:no-repeat}
#wing .body .contents .item .todaylist ul li.soldout a .img:after{content:"품절상품";display:flex;flex-direction:column;justify-content:center;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;font-size:13px;color:#fff;line-height:20px;background:rgba(0,0,0,.5)}
#wing .body .contents .item .todaylist ul li a .brand{float:right;text-overflow:ellipsis;overflow:hidden;width:264px;margin:-5px 0 0;padding:0 0 15px;white-space:nowrap;font-size:12px;color:#666;line-height:18px}
#wing .body .contents .item .todaylist ul li a .name{float:right;text-overflow:ellipsis;overflow:hidden;width:264px;margin:-3px 0 0;padding:0 0 17px;white-space:nowrap;font-size:12px;color:#000;line-height:18px}
#wing .body .contents .item .todaylist ul li a .price{float:right;text-overflow:ellipsis;overflow:hidden;width:264px;margin:-4px 0 0;padding:0 0 17px;white-space:nowrap;font-size:14px;color:#000;line-height:19px;font-family:spoqa han sans neo,sans-serif}
#wing .body .contents .item .todaylist ul li a .price del{display:inline-block;margin:1px 0 -1px 20px;vertical-align:top;font-size:12px;color:#999;font-weight:300}
#wing .body .contents .item .todaylist ul li.today-none{padding:70px 0 71px;text-align:center;font-size:14px;color:#000;line-height:20px;border-bottom:none}
#wing .body .contents .item .todaylist .close-button{position:absolute;top:30px;right:30px;z-index:4;overflow:hidden;width:17px;height:17px;text-indent:-9999px;background:url(../imgs/global/close1.png) center center no-repeat}
#wing .body .contents .item .top{display:block;overflow:hidden;width:48px;height:48px;text-indent:-9999px;background:url(../imgs/global/wing_top.png) center center no-repeat}
#wing .body .contents .item.active .today{width:67px;height:60px;margin:-5px -5px -7px -14px;border-radius:0 11px 11px 0;background:#fff url(../imgs/global/wing_today_on.png) 14px 5px no-repeat}
#wing .body .contents .item.active .todaylist{visibility:visible;top:auto;bottom:0}
#wing .body .contents .item .todaylist #todaylist{overflow-y:scroll;overflow-x:hidden;max-height:644px}
#wing .body .contents .item .todaylist #todaylist::-webkit-scrollbar{width:2px}
#wing .body .contents .item .todaylist #todaylist::-webkit-scrollbar-thumb{background-color:#000}
@media screen and (max-width: 1807px) {
	#header .body{width:1460px;border-left-width:0;border-right-width:0}
	#header .gnb{width:1460px;padding-left:0;padding-right:0}
	#header .gnb .over-area .contents{width:1460px;padding-left:0;padding-right:0}
	#footer{width:1460px;padding-left:0;padding-right:0}
	#wing .body{width:1460px;border-left-width:0;border-right-width:0}
}

/* navi */
#navi{position:relative;z-index:20;clear:both;margin:-10px 0 20px;padding:0 0 11px}
#navi:after{content:"";display:block;clear:both}
#navi li{position:relative;z-index:20;float:left;margin:0 26px 0 0;font-size:13px;color:#333;line-height:19px;font-family:'Noto Sans KR',sans-serif}
#navi li:before{content:"";position:absolute;top:11px;left:-15px;width:0;height:0;border:4px solid transparent;border-left:6px solid #666}
#navi li:first-child:before{display:none;}
#navi li a{float:left;padding:5px 0; font-size:15px;}
#navi li strong{float:left;padding:5px 0;color:black;font-weight:bold;text-decoration:underline; font-size:15px;}
#navi li button.ctg{position:relative;float:left;width:140px;padding:4px 16px 4px 10px;box-sizing:border-box;font-size:13px;color:#666;line-height:19px;font-family:'Noto Sans KR',sans-serif;border:1px solid #ccc;background:white}
#navi li button.ctg:after{content:"";position:absolute;top:11px;right:8px;border:4px solid transparent;border-top:6px solid #666}
#navi li div{position:absolute;top:29px;left:0;z-index:20;width:100%;box-sizing:border-box;border:1px solid #ccc;border-top:none;background:white}
#navi li div ol li{float:none;margin:0}
#navi li div ol li a{display:block;float:none;padding:5px 10px;font-size:13px;color:#666;line-height:19px;font-family:'Noto Sans KR',sans-serif}
#navi li div ol li a:hover{background:#f9f9f9}


/* 타이틀 */
.bul_red_arrow{padding-left:17px;background:url(../imgs/icon/bul_red_arrow.gif) 0 2px no-repeat}
.red_square_dotList li,.red_square_dot{padding:1px 0 1px 10px;font-size:13px;background:url(../imgs/icon/bul_red_square.gif) 0 9px no-repeat;line-height:19px;color:#666}
.red_square_dotList li a:hover{text-decoration:underline}
.bul_red_rect{padding:0 0 10px 15px;border-bottom:1px solid #e1e1e1;background:url(../imgs/icon/bul_red_rect.gif) 6px 0 no-repeat}

.sub_title{position:relative;margin:0 0 20px;padding:0 0 15px 10px;font-size:0;background:url(../title/bg_sub_title.gif) 0 bottom repeat-x;line-height:0}

.big_title{position:relative;padding:0 0 16px;white-space:nowrap;font-size:32px;color:#222;line-height:36px;font-weight: 500;}
.big_title.lnb{padding:0 0 12px;white-space:nowrap;font-size:26px;color:#222;line-height:30px;font-weight:bold;}
.middle_title{position:relative;padding:0 0 8px;white-space:nowrap;font-size:20px;color:#222;line-height:24px;margin-top:50px;}
.small_title{position:relative;padding:0 0 4px;white-space:nowrap;font-size:16px;color:#222;line-height:20px;font-weight:bold;}

.big_title .summary{display:block;padding:12px 0 0 0;vertical-align:top;font-size:15px;color:#777;font-weight: 400;line-height:20px;}
.big_title.lnb .summary{display:inline-block;padding:9px 0 0 12px;vertical-align:top;font-size:13px;line-height:18px;font-weight:normal;font-family:'Noto Sans KR',sans-serif}
.middle_title .summary{display:inline-block;padding:6px 0 0 9px;vertical-align:top;font-size:11px;color:#777;line-height:16px;font-weight:normal;font-family:'Noto Sans KR',sans-serif}
.small_title .summary{display:inline-block;padding:3px 0 0 9px;vertical-align:top;font-size:11px;color:#888;line-height:16px;font-weight:normal;font-family:'Noto Sans KR',sans-serif}

.small_title .smallbutton{position:absolute;top:-3px;right:0}
.middle_title .smallbutton{position:absolute;top:-1px;right:0}

.middle_title .check{font-size:12px}
.middle_title .check.red{color:red}

.bgSubnote {padding:15px 20px;font-size:11px;color:#666;background:#f8f8f8;}
.titles_box {position: relative}
.titles_box .history {position: absolute;right:0;top: 50%;height: 30px;margin-top: -23px;padding: 0 10px;}

/* lnb_area */
#lnb_area{float:left;overflow:hidden;width:180px;margin-right:20px;margin-bottom:50px}
#lnb_area h2.ctg_txt a{display:block;color:#222;padding:3px 0 10px 5px;font-size:16px;font-weight:bold;letter-spacing:-0.1em;background:url(../imgs/icon/ctg_icon.png) right 5px no-repeat}
#lnb_area .ctg{padding:14px 12px;font-size:12px;border-top:1px solid #414141;border-bottom:1px solid #414141;background-color:#fff;letter-spacing:-0.1em}
#lnb_area .ctg li{line-height:26px}
#lnb_area .ctg li.on a{color:#f4620b !important}
#lnb_area .ctg li a{color:#888}
#lnb_area .ctg li a:hover{color:#f4620b !important}
#lnb_area .lnb_banner{margin-top:20px}
#lnb_area img{max-width:180px}

#lnb_area_sub{float:left;overflow:hidden;width: 220px;margin-right: 40px;margin-bottom:50px;font-size:12px}
#lnb_area_sub .left_my_info{padding:0 0 10px;border:1px solid #444}
#lnb_area_sub .left_my_info h2{margin:0 0 10px;padding:16px 0;text-align:center;font-size:24px;color:white;line-height:30px;font-weight:bold;background:#444}
#lnb_area_sub .left_my_info span{display:block;margin:0 10px;padding:7px 0;text-align:center;color:#444;font-weight:bold;border-bottom:1px solid #444}
#lnb_area_sub .left_my_info p{padding:13px 0;text-align:center;color:#808183}
#lnb_area_sub .left_my_info ul{padding:10px 10px 0}
#lnb_area_sub .left_my_info ul li{position:relative;margin-bottom:10px;padding-left:8px;background:url(../imgs/icon/bul_left_info.gif) 0 5px no-repeat;line-height:14px;color:#808183}
#lnb_area_sub .left_my_info ul li div{position:absolute;right:0;top:0;color:#3f3b39}
#lnb_area_sub .left_navigation > li{border-bottom:solid 1px #ddd;}
#lnb_area_sub .left_navigation li > div{padding:14px 5px 13px;font-size:15px;color:#333;font-weight:bold;}
#lnb_area_sub .left_navigation li > div a{font-size:15px;color:#333}
#lnb_area_sub .left_navigation li ul{padding:7px 0 3px;border-top:solid 1px #ddd;background:#f9f9f9;}
#lnb_area_sub .left_navigation li li{padding:5px 0 5px 15px;border:0 none;background:none;line-height:20px}
#lnb_area_sub .left_navigation li li a {font-size:13px;color:#666}
#lnb_area_sub .lnb_banner{margin-top:20px}
#lnb_area_sub img{max-width:180px}

/* paging */
.paging{overflow:hidden;text-align:center;margin-top:30px}
.paging ul{display:inline-block;vertical-align:top}
.paging ul:after{content:"";display:block;clear:both}
.paging ul li{float:left;margin:0 -1px 0 0}
.paging ul li a{float:left;width:32px;height:32px;text-align:center;font-size:13px;color:#666;line-height:32px;border:1px solid #ddd;background:white}
.paging ul li a strong{float:left;width:32px;height:32px;text-align:center;font-size:13px;color:#222;line-height:32px;background:#f4f4f4}
.paging ul li a.first{position:relative;overflow:hidden;text-indent:-9999px}
.paging ul li a.prev{position:relative;overflow:hidden;text-indent:-9999px}
.paging ul li a.next{position:relative;overflow:hidden;text-indent:-9999px}
.paging ul li a.last{position:relative;overflow:hidden;text-indent:-9999px}
.paging ul li a.first:before{content:"";position:absolute;top:11px;left:6px;width:0;height:0;border:5px solid transparent;border-right:5px solid #999}
.paging ul li a.first:after{content:"";position:absolute;top:11px;left:11px;width:0;height:0;border:5px solid transparent;border-right:5px solid #999}
.paging ul li a.prev:before{content:"";position:absolute;top:11px;left:8px;width:0;height:0;border:5px solid transparent;border-right:5px solid #999}
.paging ul li a.next:before{content:"";position:absolute;top:11px;right:8px;width:0;height:0;border:5px solid transparent;border-left:5px solid #999}
.paging ul li a.last:before{content:"";position:absolute;top:11px;right:6px;width:0;height:0;border:5px solid transparent;border-left:5px solid #999}
.paging ul li a.last:after{content:"";position:absolute;top:11px;right:11px;width:0;height:0;border:5px solid transparent;border-left:5px solid #999}

/* 하단 모바일 버전으로 보기 */
.go_mobile{clear:both;background:#444;text-align:center;margin-top:10px}
.go_mobile a{display:block;color:#fff;font-size:53px;padding:37px 0}

/* 버튼 */
.btn_mid{text-align:center}
.btn_left{text-align:left}
.btn_right{text-align:right}

/* 버튼 */
.wrap_buttons{text-align:center;margin-top:40px;}
.wrap_buttons button,
.wrap_buttons a{display:inline-block;width:176px;padding:13px 0 15px;vertical-align:top;text-align:center;font-size:18px;color:#fff !important;border:solid 1px #444;background:#444}
.wrap_buttons .gray{background:#888;border:solid 1px #888;}
.wrap_buttons .bor{background:#fff;border:1px solid #999;color:#888 !important;}
.wrap_buttons.popup{margin-top:30px;}
/* 카테고리박스 */
.box_ctg_small{padding-bottom:5px;background:url(../imgs/goods/bg_ctg_bottoms.png) 0 bottom no-repeat}
.box_ctg_small h3{padding:15px 0 7px 25px; padding:15px 0 9px 25px;font-size:12px;background:url(../imgs/goods/bg_ctg_tops.png) 0 0 no-repeat;font-weight:bold}
.box_ctg_small ul{overflow:hidden;padding:12px 0 5px 25px;background:url(../imgs/goods/bg_ctg_mids.gif) 0 0 repeat-y}
.box_ctg_small ul li{padding:0 0 9px 16px;background:url(../imgs/button/btn_ctg_more.gif) 6px 6px no-repeat;float:left;width:22%}
.box_ctg_big{overflow:hidden;margin:15px 0 20px;padding-bottom:8px;background:url(../imgs/goods/bg_ctg_bottom.png) 0 bottom no-repeat}
.box_ctg_big h3{height:14px;margin:0;padding:18px 0 14px 25px;font-weight:bold;background:url(../imgs/goods/bg_ctg_top.png) 0 0 no-repeat}
.box_ctg_big ul{overflow:hidden;padding:20px 0 10px 25px;background:url(../imgs/goods/bg_ctg_mid.gif) 0 0 repeat-y}
.box_ctg_big ul li{padding:0 0 9px 16px;background:url(../imgs/button/btn_ctg_more.gif) 6px 6px no-repeat;float:left;width:18%;font-weight:bold;}
.box_ctg_big ul li a{color:#535353}
.box_guide ul.guide_list{overflow:hidden;}
.box_guide ul.guide_list li{padding:0 0 9px 16px;background:url(../imgs/button/btn_ctg_more.gif) 6px 6px no-repeat;float:left;width:18%;font-weight:bold;}
.box_guide ul.guide_list li a{color:#535353}

/* 쿠폰 조회 */
.listHidden{display:none}

/* 레이어박스 */
.layer_wrap{background:#f4f4f4;padding:5px}
.layer_wrap .layer_cont{border:solid 1px #ccc;background:#fff;padding:20px 15px 30px}

.layer_cont h1{margin-bottom:20px;padding-bottom:10px;font-size:22px;color:#222;line-height:28px;border-bottom:solid 2px #555}
.layer_cont h2{font-weight:bold;color:#3d3d3d;font-size:12px}

.layer_wrap .layer_cont p.txt_area{overflow:hidden;margin:30px 0 0;padding:37px 19px;font-size:14px;border:1px solid #dcdcdc;background-color:#f8f8f8;color:#222;font-weight:bold;}
.layer_wrap .layer_cont .couponList{overflow-y:auto;max-height:240px;margin:0 0 20px;padding:4px 10px 5px;border:1px solid #dcdcdc;background:#f8f8f8}
.layer_wrap .layer_cont .couponList li{padding:3px 0 3px 8px;word-wrap:break-word;font-size:12px;color:#555;line-height:18px;background:url(../imgs/icon/bul_left_info.gif) 0 11px no-repeat}

/*---------------------------------------------- table ------------------------------------------------------*/
.table_fixed{table-layout:fixed}
.table_ver{margin:10px 0 0;border-top:1px solid #444}
.table_ver thead{background:#f8f8f8;border-bottom:solid 1px #dbdbdb}
.table_ver thead th{text-align:center;font-weight:normal;padding:10px 0;font-size:13px;color:#444;line-height:19px}
.table_ver tbody td{text-align:center;padding:10px 0;font-size:13px;color:#666;line-height:19px;border-bottom:solid 1px #dbdbdb;word-break:break-all}/*1224띄어쓰의 없을경우 테이블 벗어남*/
.table_ver tbody td.text_left{text-align:left;padding:10px}
	/* 총 합계 쪽 */
.table_ver tr.total_price td{height:50px !important;padding:0 !important;background-color:#f7f7f7}
.table_ver tr.total_price td div{position:relative;width:100%;height:100%}
.table_ver tr.total_price td p{position:absolute;right:0;top:0;display:inline-block;margin:5px 6px;padding:10px 13px;border:1px solid #e6e6e6;background-color:#fff;color:#000}
.table_ver tr.total_price td p span{display:inline-block;margin-right:120px}
.table_ver tr.total_price td p span{margin-right:38px}
	/* 상품이미지,상품명 */
.table_ver tbody td.table_product{text-align:left;padding:15px}
.table_ver tbody td.table_product a{float:left}
.table_ver tbody td.table_product a img{border:solid 1px #e6e6e6;width:120px;height:120px;margin-right:15px}
.table_ver tbody td.table_product a img.no{border:none;width:auto;margin-right:0}
.table_ver tbody td.table_product p{float:left;width:80%;margin:5px 0 0}
.table_ver tbody td.table_product p a{width:100%}
.table_ver tbody td.table_product p img{clear:both}
.table_ver tbody td.table_product:first-child{padding:15px 15px 15px 0}
.table_ver tbody td button{margin:2px 0}
.table_ver tbody td .default{display:inline-block;margin:1px 0;padding:0 5px;vertical-align:top;font-size:11px;color:white;line-height:17px;border-radius:3px;background:#999}
.table_ver tbody td .label{display:inline-block;margin:1px 0;padding:0 5px;vertical-align:top;font-size:11px;line-height:15px;border-radius:3px;border:1px solid #999;background:white}
.table_ver tbody td .state{display:block;text-align:center;font-weight:bold;}
.table_ver td.productimg{padding:15px 0}
.table_ver td.productimg a{display:block;position:relative;width:80px;height:80px}
.table_ver td.productimg img{display:block;width:78px;height:78px;border:1px solid #dedede}
.table_ver td.productimg.big a{width:140px;height:140px}
.table_ver td.productimg.big img{width:138px;height:138px; object-fit:cover;}
.table_ver td.product{padding:15px;text-align:left}
.table_ver td.product img{margin:0;border:0 none;vertical-align:middle}
.table_ver td.product span{display:block;margin-top:5px;font-size:12px;color:#999;line-height:18px}
.table_ver td.product span button{font-size:11px;font-family:'돋움',dotum,'굴림',gulim;font-weight:bold;color:#ca1818;text-decoration:underline;margin:0}
.table_ver td.product span em{color:#ca1818;font-style:normal}
.table_ver td.orderstep a,
.table_ver td.orderstep button{margin:2px 0}
.table_ver td.delivery{padding:10px;text-align:right;line-height:25px;background:#f9f9f9}
.table_ver .article td{padding:20px;background:#f8f8f8}
.table_ver .article td .articlecont{word-wrap:break-word;text-align:left}

#contents .table_ver tbody td.table_product p{width:60%}

.table_hor{margin:10px 0 0;border-top:1px solid #444}
.table_hor tbody th{background:#f8f8f8;text-align:left;font-weight:normal;padding:10px 15px;color:#444;border-bottom:solid 1px #dbdbdb}
.table_hor tbody th.line{border-left:solid 1px #dbdbdb}
.table_hor tbody td{text-align:left;padding:10px 15px;color:#666;border-bottom:solid 1px #dbdbdb;word-break:break-all}/*1224띄어쓰의 없을경우 테이블 벗어남*/
/* 상품이미지,상품명 */
.table_hor tbody td.table_product{text-align:left;padding:10px}
.table_hor tbody td.table_product a{float:left}
.table_hor tbody td.table_product a img{border:solid 1px #e6e6e6;width:80px;margin-right:10px}
.table_hor tbody td.table_product p{float:left;width:80%;margin:5px 0 0}
.table_hor tbody .form th{padding:10px 15px;line-height:25px}
.table_hor tbody .form td{padding:10px 15px;line-height:25px}
.table_hor tbody .dotnonetext{display:inline-block;margin:0 0 0 8px;vertical-align:top}

.essential{margin:4px 0 0;vertical-align:top}
.table_hor tbody .form th .essential{margin:7px 0 0}

.popCloseButton{display:inline-block;position:relative;top:-1px;overflow:hidden;width:39px;height:0;margin:0 0 0 5px;padding:19px 0 0;vertical-align:middle;line-height:20px;background:url(../imgs/button/btn_close_popup.gif) 0 0 no-repeat}

/* 주문할상품 , 할인 및 배송비 */
.order_ver{margin:10px 0 0;font-size:13px;border-top:1px solid #444}
.order_ver .noIncrease{font-size:11px}
.order_ver thead{background:#f3f3f3;border-bottom:solid 1px #dbdbdb}
.order_ver thead th{text-align:center;font-weight:normal;padding:10px 0;color:#444}
.order_ver tbody td{text-align:center;padding:10px 0;color:#444;border-bottom:solid 1px #dbdbdb}
.order_ver tbody td strong{color:#000}
.order_ver tbody td button{margin:2px 0}
.order_ver tbody td .forIcon{position:relative;padding:10px 0}
.order_ver tbody td .forIcon img{position:absolute;top:50%;right:0;margin:-15px -15px 0 0}
.order_ver tbody td .x_price{font-weight:bold;}
.order_ver tbody .priceBig{font-size:14px}
.order_ver tbody .priceBig span{vertical-align:-1px;font-size:21px;font-weight:bold;font-family:Tahoma !important}

/* 상품명에 해당하는 영역 : 상품이미지+상품명+옵션+입점업체 */
.order_ver td.productimg{padding:15px 0}
.order_ver td.productimg a{display:block;position:relative;width:80px;height:80px}
.order_ver td.productimg img{display:block;width:78px;height:78px;border:1px solid #dedede}
.order_ver td.product{padding:15px;text-align:left}
.order_ver td.product img{margin:0;border:0 none;vertical-align:middle}
.order_ver td.product span{display:block;margin-top:5px;font-size:12px;color:#999;line-height:18px}
.order_ver td.product span button{font-size:11px;font-family:'돋움',dotum,'굴림',gulim;font-weight:bold;color:#ca1818;text-decoration:underline;margin:0}
.order_ver td.product span em{color:#ca1818;font-style:normal}

/* 총 비용 */
.order_ver tr.total_price td{background-color:#f7f7f7}
.order_ver tr.total_price td div{float:right;margin:0 10px 0 0;padding:8px 13px;text-align:left;border:1px solid #e6e6e6;background-color:#fff}
.order_ver tr.total_price td div span{display:inline-block;width:0;vertical-align:top;font-size:13px;color:#666;line-height:23px;white-space:nowrap}
.order_ver tr.total_price td div strong{display:inline-block;width:279px;vertical-align:top;text-align:right;font-size:13px;color:#666;line-height:23px;font-weight:bold;}

/* 추가할인적용 */
.order_hor{clear:both;margin:10px 0 0;font-size:13px;border-top:1px solid #444}
.order_hor th{background:#f3f3f3;border-bottom:solid 1px #dbdbdb;text-align:center;font-weight:normal;padding:9px 0 7px;color:#444}
.order_hor td{border-bottom:solid 1px #dbdbdb;text-align:left;padding:10px;color:#666;line-height:16px}
.order_hor td.total span{font-size:15px}
.order_hor td.point strong{color:#000}
.order_hor td.payment span{font-size:19px;font-family:Tahoma}
.order_hor tbody .form th{padding:10px 15px;line-height:25px}
.order_hor tbody .form td{padding:10px 15px;line-height:25px}

/* 공통상품 */
.product_box{}
.common_product{position:relative;margin:10px -14px 0;padding:21px 0 0}
.common_product ul:after{content:"";display:block;clear:both}
.common_product li{float:left;width:20%;margin:0 0 30px;padding:0 14px;box-sizing:border-box}
.common_product li .check{margin-bottom:10px}
.common_product li .check input{margin:0}
.common_product li a.link_box,
.common_product li a.link_box>span{display:block}
.common_product li a.link_box .thumb_box{position:relative;overflow:hidden;width:100%;height: 405px;}
.common_product li a.link_box .thumb_box .thumb{display:block;width:100%;height: 100%;object-fit: cover;}
.common_product li a.link_box .thumb_box .best{display:block;position:absolute;top:5px;left:5px}
.common_product li a.link_box .info_box{height:132px;padding:12px 5px 0}
.common_product li a.link_box .info_box>span{display:block;color:#333;line-height:22px}
.common_product li a.link_box .info_box .name{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:40px;margin:0 0 5px;word-wrap:break-word;font-size:13px;line-height:20px;}
.common_product li a.link_box .info_box .summary{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#777}
.common_product li a.link_box .info_box .market,
.common_product li a.link_box .info_box .marketPrice{overflow:hidden;font-size:12px;color:#999;text-decoration:line-through}
.common_product li a.link_box .info_box .price{overflow:hidden;font-size:14px;color:#000;}
.common_product li a.link_box .info_box .price .sale{padding:0 0 0 5px;color:#ca1818}
.common_product li a.link_box .info_box .icons{overflow:hidden;margin-top:5px;font-size:12px !important;line-height:0 !important;}
.common_product li a.link_box .info_box .icons img{display:inline-block;height:16px;vertical-align:top}
.common_product li.none_pro{clear:both;width:100%;text-align:center;padding:50px 14px;box-sizing:border-box;color:#999}

/* 상품관련 */
.pro_name {display:block;color:#444;line-height:16px;font-size:13px;height:32px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;font-family: 'Nanum Gothic Bold';}
.pro_name a {color:#444;}
.pro_summary{display:block;font-size:11px;height:16px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;word-wrap:break-word;color:#777;margin-top:5px;text-overflow: ellipsis;white-space: nowrap;}
.pro_market{display: block;overflow: hidden;height: 22px;text-overflow: ellipsis;-o-text-overflow: ellipsis;margin: 0 10px;white-space: nowrap;text-align: center;font-size: 13px;color: #7b7b7b;line-height: 22px;text-decoration: line-through;}
.pro_market2{display: block;overflow: hidden;height: 22px;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;font-size: 13px;color: #7b7b7b;line-height: 22px;text-decoration: line-through;}
.pro_summary a {color:#777}
.org_price{display:block;}
.org_price del{display:block;color:#999;text-decoration:line-through;height:16px;overflow:hidden;margin-top:8px;}
.sale_price{display:block;font-family: 'Nanum Gothic Bold';color:#000;font-size:15px;height:18px;line-height:18px;overflow:hidden;margin-top:6px;}
.point{display:block;font-size:12px;color:#7b7b7b;margin-top:5px;}
.icons{display:block;height:16px;overflow:hidden;margin-top:5px;font-size:5px !important;line-height:0 !important;}

.dragDummy{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../imgs/global/dummy.gif) 0 0 repeat}

.smallbutton{display:inline-block;position:relative;margin:0;padding:2px 8px;vertical-align:top;text-align:center;font-size:12px;color:white;line-height:19px;font-weight:normal;font-family:'Noto Sans KR',sans-serif;border:1px solid black;background:#444}
.smallbutton.gray{color:#888;border:1px solid #ccc;background:white}
.smallbutton.red{color:white;border:1px solid red;background:red}









