@charset "utf-8";

/* Button Reset */
.button,
.button a,
.button button,
.button input{position:relative;margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:12px;white-space:nowrap;/* background:url(../imgs/button/buttonWhite.gif) no-repeat; */overflow:visible;color: #fff;font-family: inherit;}
.button{width: 150px;
    height: 40px;
    background: #3f4754;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;}
.button a,
.button button,
.button input{/* left:2px; */vertical-align:top;cursor:pointer}

/* Button Size */
.button.large{height:29px;background-position:left -30px}
.button.xLarge{height:35px;background-position:left -65px}
.button.small{height: 32px;width: 80px;}
.button a,
.button button,
.button input{height:23px;font-size:12px;line-height:23px;width: 100%;}
.button.large a,
.button.large button,
.button.large input{height:29px;/* padding:0 15px 0 13px; */font-size:12px;line-height:29px;background-position:right -30px;font-weight:bold}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input{height:35px;padding:0 10px 0 8px;font-size:14px;line-height:35px;background-position:right -65px;font-weight:bold}
.button.small a,
.button.small button,
.button.small input{height: 32px;font-size:11px;line-height: 32px;}
/*left*/
.button.aside{height:29px;background-position:left -30px}
.button.aside a,
.button.aside button,
.button.aside input{height:29px;padding:0 30px;font-size:12px;line-height:29px;background-position:right -30px;font-weight:bold}

/* Button Text Color */
.button *:hover,
.button *:active,
.button *:focus{}
.button.green,
.button.green a,
.button.green button,
.button.green input{background-image:url(../imgs/button/buttonGreen.gif);color:#fff}
.button.green *:hover,
.button.green *:active,
.button.green *:focus{color:#ff0}
.button.cyan,
.button.cyan a,
.button.cyan button,
.button.cyan input{width: 150px;
    height: 40px;
    background: #26c6da;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;}
.button.cyan *:hover,
.button.cyan *:active,
.button.cyan *:focus{}
.button.black,
.button.black a,
.button.black button,
.button.black input{}
.button.black *:hover,
.button.black *:active,
.button.black *:focus{}
.button.red,
.button.red a,
.button.red button,
.button.red input{background-image:url(../imgs/button/buttonRed.gif);color:#fff}
.button.red *:hover,
.button.red *:active,
.button.red *:focus{}
.button.blue,
.button.blue a,
.button.blue button,
.button.blue input{background-image:url(../imgs/button/buttonBlue.gif);color:#fff}
.button.blue *:hover,
.button.blue *:active,
.button.blue *:focus{}

.sm{
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    width: auto;
    padding: 0 8px;
}

.md{
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	width: auto;
	padding: 0 8px;
	width: 90px;
	box-sizing: border-box;
}


.btn_pri.sm, .btn_sec.sm{
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    width: auto;
    padding: 0 8px;
    background:#95a4ac;
}
.btn_pri.md, .btn_sec.md{
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	width: auto;
	padding: 0 8px;
	width: 90px;
	box-sizing: border-box;
	background:#95a4ac;
}

/* Button Text Strong */
.button.strong *{font-weight:bold !important}

/* Button :: Goods List */
.display{padding:0 6px font-size:11px;letter-spacing:-0.1em}


/* Button Reset */
.buttonOrder,
.buttonOrder a,
.buttonOrder button,
.buttonOrder input{position:relative;margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:11px;letter-spacing:-1px;font-family:dotum, Tahoma, Sans-serif;white-space:nowrap;background:url(../imgs/button/buttonGra_gray.png) no-repeat;overflow:visible;color:#333}
.buttonOrder{height:22px;padding:0 !important;vertical-align:middle;margin-right:2px;background-position:left top}
.buttonOrder a,
.buttonOrder button,
.buttonOrder input{left:2px;vertical-align:top;cursor:pointer}

.buttonOrder a,
.buttonOrder button,
.buttonOrder input{min-width:76px;height:22px;padding:0 6px 0 4px;font-size:11px;letter-spacing:-1px;line-height:23px;background-position:right top;text-align:center;}

/* Button Text Color */
.buttonOrder.red,
.buttonOrder.red a,
.buttonOrder.red button,
.buttonOrder.red input{background-image:url(../imgs/button/buttonGra_red.png);color:#000}

.buttonOrder.blue,
.buttonOrder.blue a,
.buttonOrder.blue button,
.buttonOrder.blue input{background-image:url(../imgs/button/buttonGra_Blue.png);color:#000}